
{{#extend "adminStyle"}}
    <link rel="stylesheet" href="/css/index.css"/>
    {{>admincss}}
{{/extend}}

<div class="main admin-main">
    <div class="top">
        <img src="img/pic.png">
        <a href="/admin/login">未登录  <span>登录后享用更多功能</span><em>></em></a>
    </div>
    <div class="tab clearfix">
        <span class="current">0 <em>婚纱照</em></span>
        <span class="c">0 <em>收藏</em></span>
        <span>0 <em>消息</em></span>
    </div>
    <div class="panel intention-list">
       <!-- <div class="item">
            <h2>我的意向单 <a href="">修改</a></h2>
            <p><span class="l">托管费用： <em>1500-4000元</em></span><span class="r">套餐类型 :B套餐</span></p>
            <p><span class="n">拍摄档期： <em>2015年05月</em></span></p>
            <p><span class="n">目前状态： <em>嫁拍正在为您联系优秀摄影师</em></span></p>
        </div>-->

        <a class="intention" href="/admin/intention">创建意向单</a>
    </div>
</div>

{{#extend "adminScripts"}}
    <script>

    </script>
{{/extend}}