
{{#extend "adminStyle"}}
    <link rel="stylesheet" href="/css/index.css"/>
    {{>admincss}}
{{/extend}}

<div class="main admin-main">
    <div class="top">
        <img src="img/pic.png">
        <a href="/admin/login">未登录  <span>登录后享用更多功能</span><em>></em></a>
    </div>
    <div class="tab clearfix">
        <span class="current">0 <em>婚纱照</em></span>
        <span class="c">0 <em>收藏</em></span>
        <span>0 <em>消息</em></span>
    </div>
    <div class="panel">
        <a class="intention" href="/admin/intention">创建意向单</a>
    </div>
</div>

{{#extend "adminScripts"}}
    <script>

    </script>
{{/extend}}