{{#extend "adminStyle"}}
    <link rel="stylesheet" href="/css/admin.css"/>
    <style>
        .admin {
            background: #d2d2d2;
        }
    </style>
{{/extend}}

<div class="slide">
    <div class="big">
        <img src="/img/banner.png">
    </div>
</div>

{{#extend "adminScripts"}}
    <script>

    </script>
{{/extend}}