{{#extend "adminStyle"}}
    {{>admincss}}
{{/extend}}
<div class="main intention-main">
    <p class="i-m-t">告诉我你的婚纱照意赂，客服将会与您联系</p>

    <div class="form">
        <div class="select">
            预算 <span>请选择</span>
        </div>
        <p>经典礼遇，超过30%的用户</p>

        <div class="select">
            时间 <span>请选择</span>
        </div>
        <p>点头的季节，相伴的开端</p>

        <div class="tc-select">
            <div class="tc-tab clearfix">
                <em class="current">A套餐</em>
                <em class="c">B套餐</em>
                <em>C套餐</em>
            </div>
        </div>
        <p>经典礼遇200张照片，40张精修</p>

        <div class="text">
            手机号码<input type="text" placeholder="请输入你的手机号"/>
        </div>
    </div>

    <a href="" class="create-intention">创建意向单</a>

</div>

{{#extend "adminScripts"}}
    <script>

    </script>
{{/extend}}