<div class="left">
    <a class="orders" href="{{static}}admin">订单</a>
    <a class="carts" href="{{static}}admin/carts">购物车</a>
    <a class="albums" href="{{static}}admin/albums">婚纱照</a>
    <a class="photographer" href="{{static}}admin/photographer">我是摄影师</a>
</div>