{{#extend "adminStyle"}}
    {{>admincss}}
{{/extend}}

sdfasdfasfasfa
<div class="slide">
    <div class="big">
        <img src="img/banner.png">
    </div>
</div>

{{#extend "adminScripts"}}
    <script>

    </script>
{{/extend}}