{{#extend "adminStyle"}}
    <link rel="stylesheet" href="/css/admin.css"/>
    <style>
        .admin {
            background: #d2d2d2;
        }
    </style>
{{/extend}}




<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



{{#extend "adminScripts"}}
    <script>

    </script>
{{/extend}}