{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}admin/css/admin.css">
    <style>
        .orders{
            color: #ff4f4f;
        }
    </style>
{{/extend}}

<div class="main clearfix">
    {{> admin_left}}
    <div class="content">
        <h2 class="cart-title order-cart-title">订单信息</h2>
        <table class="orders-table">
            <thead>
            <tr>
                <td>姓名</td>
                <td>电话</td>
                <td>拍摄时间</td>
                <td>拍摄风格</td>
                <td>拍摄城市</td>
                <td>拍摄路线</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>子一</td>
                <td>18550035081</td>
                <td>十一月</td>
                <td>中式古典</td>
                <td>北京</td>
                <td>故宫</td>
                <td><span class="cancel">取消订单</span></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}