{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}admin/css/admin.css">
    <style>
        .photographer{
            color: #ff4f4f;
        }
    </style>
{{/extend}}

<div class="main clearfix">
{{> left}}
    <div class="content">

    </div>
</div>

{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}