{{#extend "pcStyle"}}
    <link rel="stylesheet" href="pc/css/app.css">
    <link rel="stylesheet" href="pc/css/animate.min.css">
    <style>
    </style>
{{/extend}}


<div class="content">
    <div class="base-section">
        <img class="i_title animated lightSpeedIn" src="pc/img/i_title.png" alt=""/>
        <img class="i_iphone animated bounceInUp" src="pc/img/i_phone.png" alt=""/>

        <div class="box-a animated fadeInRight"  >
            <span class="code_ma"></span>
            <a href="" class="i_phone_btn"></a>
            <a href="" class="android_btn"></a>
        </div>
    </div>
</div>




{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}