{{#extend "pcStyle"}}
    <link rel="stylesheet" href="pc/css/autumn.css">
    <style>
    </style>
{{/extend}}
<div class="nav-box-holdplace"></div>
<div class="nav-box">
    <div class="section nav-bar">
        <h2>极致婚纱摄影</h2>

        <div class="nav clearfix">
            <a href="#pz">最美的品质</a>
            <a href="#yt">最美的一天</a>
            <a href="#xz">最美的选择</a>
            <a href="#fw">最美的服务</a>
            <span class="yd-btn">立即预定</span>
        </div>
    </div>
</div>
<div class="banner">
    <h1>秋季特惠</h1>

    <p>极致体验 只为最美的一天</p>
    <span class="yd-btn">立即预定</span>
    <b>400-800-800</b>
</div>
<h1 class="title">最美的品质 <span id="pz"></span></h1>
<div class="section same sec1">
    <h2>国际品牌高端婚纱</h2>

    <p>最高品质婚纱 无加价任选 桃微自建婚纱库 款式新颖 与国际接轨</p>
    <img src="pc/img/autumn/hunsha.jpg" alt=""/>
</div>
<div class="p1-photog">
    <div class="section sec2 same ">
        <h2>业内知名专业摄影师</h2>

        <p>桃微摄影师团队 均是行业知名从业5年以上 相互配合默契的化妆师&设计师组合<br>
            在桃微 行业总监级团队是入门条件</p>

        <div class="img">
            <!-- 摄影师头像列表 -->
            <a href="/autumn"  class="photog-item-1">
                <img src="http://static.jiapai.cc/src/img/xia2/photog/guo.png?20151104" alt="郭志宏" class="imgLoad"
                     style="display: block;">
            </a>

            <a href="/autumn" class="photog-item-2">
                <img src="http://static.jiapai.cc/src/img/xia2/photog/xiangnan.png?20151104" alt="翔南" class="imgLoad"
                     style="display: block;">
            </a>

            <a href="/autumn"  class="photog-item-3">
                <img src="http://static.jiapai.cc/src/img/xia2/photog/yang.png?20151104" alt="付洋" class="imgLoad"
                     style="display: block;">
            </a>

            <a href="/autumn" class="photog-item-4">
                <img src="http://static.jiapai.cc/src/img/xia2/photog/dapeng.png?20151104" alt="大鹏" class="imgLoad"
                     style="display: block;">
            </a>


            <a href="/autumn" class="photog-item-5">
                <img src="http://static.jiapai.cc/src/img/xia2/photog/zihan.png?20151104" alt="张子晗" class="imgLoad"
                     style="display: block;"></a>

            <a href="/autumn" class="photog-item-6">
                <img src="http://static.jiapai.cc/src/img/xia2/photog/xibei.png?20151104" alt="西贝" class="imgLoad"
                     style="display: block;">
            </a>
            <a href="/autumn"  class="photog-item-7">
                <img src="http://static.jiapai.cc/src/img/xia2/photog/xiejing.png?20151104" alt="解静" class="imgLoad"
                     style="display: block;">
            </a>

        </div>
<!--
        <a class="xq" href="/photograhper" target="_blank">摄影师详情<span>&gt;&gt;</span></a>
-->
    </div>
</div>
<h1 class="title">最美的一天 <span id="yt"></span></h1>
<div class="zm">
    <div class="box clearfix">
        <p>最美的一天 从专车上门开始<span>企业专车上门接送(五环内) 免去一早睡眼蓬松还需自驾<br>
保持体力 开始完美的一天</span></p>
        <img src="pc/img/autumn/p21.jpg" alt=""/>
    </div>
</div>
<div class="zm zm-r">
    <div class="box clearfix">
        <img src="pc/img/autumn/p22.jpg" alt=""/>

        <p>”嫁吧“精致早间甜点<br><span>卡布奇诺 美式醇香 摩卡等 5种口味咖啡<br>
100%纯果汁蛋糕甜点<br>
开始完美服务体验</span></p>

    </div>
</div>
<div class="zm">
    <div class="box clearfix">
        <p>最高拍摄品质婚纱<br><span>全新国际品牌定制婚纱 双婚纱间无需加价任选<br>
品牌男装 高端饰品全部免费提供</span></p>
        <img src="pc/img/autumn/p23.jpg" alt=""/>
    </div>
</div>

<div class="zm zm-r">
    <div class="box clearfix">
        <img src="pc/img/autumn/p24.jpg" alt=""/>

        <p>美妆 开启完美的一天<br><span>所有专业化妆用品免费 无任何隐形或升级性消费<br>
并提供一次性化妆用品与卸妆油</span></p>

    </div>
</div>

<div class="zm ">
    <div class="box clearfix">
        <p>内景专属化妆间<br><span>桃微在内景拍摄地作为VIP商家 拥有自己独立超大的化妆间<br>
避免人流混杂 品质延伸到每一个细节</span></p>
        <img src="pc/img/autumn/p25.jpg" alt=""/>
    </div>
</div>

<div class="zm zm-r">
    <div class="box clearfix">
        <img src="pc/img/autumn/p26.jpg" alt=""/>

        <p>最高格调婚纱午餐<br><span>国家一级营养师为婚纱照新人调配的贴心午餐<br>
保证4小时内切好的新鲜水果<br>
甜品里的“劳斯莱斯”米卡米卡 愉悦您的心情<br>
不影响新娘妆容的巴黎贝甜三明治 给您充足的体力</span></p>

    </div>
</div>

<div class="zm">
    <div class="box clearfix">
        <p>全天商务专车跟随拍摄<br><span>舒适型专车同一地点上门接送 别克商务GL8全天跟拍<br>
拍摄完成后温馨送回 免去辛苦一天还需自驾(接送为同一地点)</span></p>
        <img src="pc/img/autumn/p27.jpg" alt=""/>
    </div>
</div>

<div class="zm zm-r ">
    <div class="box clearfix">
        <img src="pc/img/autumn/p28.jpg" alt=""/>

        <p>行业唯一拍完后付费<br><span>国家一级营养师为婚纱照新人调配的贴心午餐<br>拍摄前只需支付定金800元 轻松预订档期<br>
整体拍摄完成后满意才支付剩余费用 免您后顾之忧</span></p>

    </div>
</div>
<h1 class="title">最美的选择 <span id="xz"></span></h1>
<div class="section  same sec1">
    <h2>流行风格无增价任选</h2>

    <p>韩式 欧式 个性 文艺 古典 私人定制 流行风格任选 摄影师 内外景地 根据风格进行区分 搭配出最好效果</p>

    <div class="row">
        <img src="pc/img/autumn/p31.jpg" alt=""/>

        <h3>韩式简约</h3>
    </div>
    <div class="row clearfix">
        <a href="" class="l">
            <img src="pc/img/autumn/p32.jpg" alt=""/>
            <span>欧式奢华</span>
        </a>
        <a href="" class="r">
            <img src="pc/img/autumn/p33.jpg" alt=""/>
            <span>个性时尚</span>
        </a>
    </div>
    <div class="row clearfix">
        <a href="" class="l">
            <img src="pc/img/autumn/p34.jpg" alt=""/>
            <span>中式古典</span>
        </a>
        <a href="" class="r">
            <img src="pc/img/autumn/p35.jpg" alt=""/>
            <span>唯美自然</span>
        </a>
    </div>
</div>

<div class=" same xianlubg">
    <h2>外景线路无增价任选</h2>

    <p>推出8大精选拍摄风格线路 同时也可与您沟通制定专属您的私人路线</p>
    <img src="pc/img/autumn/xianlubg.jpg" alt=""/>

    <div class="link-box">
        <a href="">恒诺庄园摄影基地+温榆河 <span>韩式简约 唯美自然 >></span></a>
        <a href="">恒诺庄园摄影基地+温榆河 <span>韩式简约  唯美自然 >></span></a>
        <a href="">恒诺庄园摄影基地+温榆河 <span>韩式简约  唯美自然 >></span></a>
        <a href="">恒诺庄园摄影基地+温榆河 <span>韩式简约  唯美自然 >></span></a>
        <a href="">恒诺庄园摄影基地+温榆河 <span>韩式简约  唯美自然 >></span></a>
        <a href="">恒诺庄园摄影基地+温榆河 <span>韩式简约  唯美自然 >></span></a>
        <a href="">恒诺庄园摄影基地+温榆河 <span>韩式简约  唯美自然 >></span></a>
        <a href="">恒诺庄园摄影基地+温榆河 <span>韩式简约  唯美自然 >></span></a>
    </div>
</div>

<div class=" same">
    <h2>赠送免费永久云端存储服务</h2>

    <p>免费永久云端存储 将美永远留存</p>
    <img src="pc/img/autumn/upan.jpg" alt=""/>
</div>

<div class="same appbg">
    <h2>全APP解决方案</h2>

    <p>业界唯一一家全APP解决方案 随时随地赏析 分享 互动你的婚纱摄影</p>
    <img src="pc/img/autumn/appbg.jpg" alt=""/>
</div>

<div class="xitie same">
    <h2>桃微旗下微信喜帖</h2>
    <img src="pc/img/autumn/xitie.png" alt=""/>

    <p>占据市场80%份额的“婚礼微喜帖”为您提供结婚微信喜帖服务 您的照片也有可能成为首页封面 为每天5万人所关注</p>

</div>

<div class="hunjian same">
    <h2>在线选片，在线修片，在线婚件制作</h2>
    <img src="pc/img/autumn/hunjian.png" alt=""/>

    <p>整个婚纱照全程 至少需要去店面5次以上，非常折腾。桃微以技术革新服务形式 用互联网提供全程服务 大大提高用户体验</p>

</div>
<h1 class="title">最美的服务 <span id="fw"></span></h1>
<div class="same dh">


    <h2><img src="pc/img/autumn/dh.png" alt=""/>没有销售 只有客服美眉</h2>

    <p>所有影楼、工作室都在强调增值和转化率<br>
        我们本也可以如此<br>
        但是20年的消费经验告诉我们<br>
        最美的一天 不应该有一丝丝的瑕疵<br>
        桃微的精力在于提升服务质量与品质 没有精力从事推销</p>



    <h2><img src="pc/img/autumn/x.png" alt=""/>一百多项服务细节优化</h2>

    <div class="img-box clearfix">
        <img src="pc/img/autumn/youhua1.jpg" alt=""/>
        <img src="pc/img/autumn/youhua2.jpg" alt=""/>
        <img src="pc/img/autumn/youhua3.jpg" alt=""/>
        <img src="pc/img/autumn/youhua4.jpg" alt=""/>
        <img src="pc/img/autumn/youhua5.jpg" alt=""/>
        <img src="pc/img/autumn/youhua6.jpg" alt=""/>
        <img src="pc/img/autumn/youhua7.jpg" alt=""/>
        <img src="pc/img/autumn/youhua8.jpg" alt=""/>
        <img src="pc/img/autumn/youhua9.jpg" alt=""/>
        <img src="pc/img/autumn/youhua10.jpg" alt=""/>
        <img src="pc/img/autumn/youhua11.jpg" alt=""/>
        <img src="pc/img/autumn/youhua12.jpg" alt=""/>
        <img src="pc/img/autumn/youhua13.jpg" alt=""/>
        <img src="pc/img/autumn/youhua14.jpg" alt=""/>
        <img src="pc/img/autumn/youhua15.jpg" alt=""/>
        <img src="pc/img/autumn/youhua16.jpg" alt=""/>
    </div>
    <p>桃微的服务 已经完成了一百多项优化<br>
        从矿泉水的选择到桃微摄影团队的评审 桃微一直在努力<br>
        就像高品质的交响乐 细致到每一个小音符 每一件乐器的改进 我们坚信 用户不会全部感知到 却能全部感受到</p>


    <h2><img src="pc/img/autumn/deng.png" alt=""/>
        用户体验以口碑
    </h2>

    <p>真实的用户口碑 不带任何修饰 用户传播力量下互联网化的精髓是品质和口碑</p>

    <img src="pc/img/autumn/wx.jpg" alt=""/>

    <h2>
        价格为同等品质价格的一半
    </h2>

    <p>桃微通过互联网O2O方式变革产品组织 去掉中间环节 去掉销售 提高服务效率 降低成本 在桃微 低价位=高品质</p>
    <img src="pc/img/autumn/pinzhi.png" alt=""/>
</div>
<div class="tx">
    <dl>
        <dt><a href="">3699套系 ></a></dt>
        <dd>礼服造型5组v</dd>
        <dd>精品底片200张</dd>
        <dd>精修55张</dd>
        <dd>婚件8个</dd>
    </dl>
    <dl>
        <dt><a href="">4999套系 ></a></dt>
        <dd>礼服造型6组</dd>
        <dd>精品底片220张</dd>
        <dd>精修70张</dd>
        <dd>婚件10个</dd>
    </dl>
    <dl>
        <dt><a href="">6999套系 ></a></dt>
        <dd>礼服造型6组</dd>
        <dd>精品底片240张</dd>
        <dd>精修80张</dd>
        <dd>婚件12个</dd>
    </dl>
    <dl>
        <dt><a href="">9999套系 ></a></dt>
        <dd>礼服造型6组</dd>
        <dd>精品底片260张</dd>
        <dd>精修90张</dd>
        <dd>婚件13个</dd>
    </dl>
</div>

<div class="pop">
    <div class="pop-mask"></div>
    <div class="pop-content">
        <div class="pop-top">
            桃微2015秋季惠  <span class="pop-close">×</span>
        </div>
        <div class="pop-con">
            <div class="br pop-con-top">
                <p>告诉我你是谁</p>
                <input type="text" placeholder="姓名*"/>
                <input type="text" placeholder="电话*"/>
                <button>现在预约＞</button>
            </div>
            <h3>如果方便,请告诉我你的意向(可选)</h3>
            <div class="br">
                <span>拍摄时间</span>
                <label><input type="radio"/>十一月</label>
                <label><input type="radio"/>十二月</label>
                <label><input type="radio"/>一月</label>
                <label><input type="radio"/>二月</label>
                <label><input type="radio"/>三月</label>
                <label><input type="radio"/>四月</label>
            </div>
            <div class="br">
                <span>拍摄风格</span>
                <label><input type="radio"/>中式古典</label>
                <label><input type="radio"/>韩式简约</label>
                <label><input type="radio"/>欧式奢华</label>
                <label><input type="radio"/>唯美自然</label>
                <label><input type="radio"/>个性时尚</label>
            </div>
            <div class="br">
                <span>拍摄城市</span>
                <label><input type="radio"/>福州</label>
            </div>
        <div class="br">
            <span>拍摄路线</span>
            <dl class="select">
                <dt>请5选择路线</dt>
                <dd>
                    <p>万象国际摄影基地+温榆河 （韩式简约  唯美自然）</p>
                    <p>万象国际摄影基地+798艺术区 （韩式简约 个性时尚）</p>
                    <p>万象国际摄影基地+温榆河 （韩式简约  唯美自然）</p>
                    <p>万象国际摄影基地+温榆河 （韩式简约  唯美自然）</p>
                    <p>万象国际摄影基地+温榆河 （韩式简约  唯美自然）</p>
                </dd>
            </dl>
        </div>

        </div>
    </div>
</div>

{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}