{{#extend "pcStyle"}}
    <link rel="stylesheet" href="pc/css/autumn.css">
    <style>
    </style>
{{/extend}}


<a class="banner" href=""></a>
<div class="box clearfix">
    <a class="demo1" href="">
        <img src="pc/img/demo.png" alt=""/>
        桃微套餐>
    </a>
    <a href="/app">   <img src="pc/img/demo-1.png" alt=""/>桃微APP></a>
</div>






{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}