{{#extend "pcStyle"}}
    <link rel="stylesheet" href="pc/css/photograhper.css">
    <style>
    </style>
{{/extend}}

<div class="mark">
    <span>风格</span>
    <div class="marklist">
        <a href="">全部</a>
        <a href="">欧式</a>
        <a href="">韩式</a>
        <a href="">中式</a>
        <a href="">自然</a>
        <a href="">个性</a>
    </div>
</div>

摄影师列表

{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}