body{
    font-size: 24px;;
}
.header{
    text-align: center;
    height:1rem;
    line-height: 1rem;;
    border-bottom:2px solid #e0e0e0;
    font-size: 0.4rem;
    position: relative;
    font-weight: bold;
    background: #fff;
}
.tab {
    position: absolute;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    height: 1.2rem;
    line-height: 1.2rem;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index:10;
}
.flex-h span {
    flex: 1;
    -webkit-flex: 1%;
    text-align: center;
    color: #636568;
    font-size:0.414rem;
}
.tab span.current{
    color: #000;
}
/*.tab:after {
    content: '';
    height: 0.05rem;
    background: #3c8dd9;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;

}*/
.item {
    padding: 0.19rem 0.19rem 0.19rem  1.20rem;;
    position: relative;
}
.item:after {
    content: '';
    height: 0.024rem;
    background: #dfe0e0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0.86rem;
    right:0;
}
.tx {
    width: 0.86rem;
    height: 0.86rem;
    display: block;
    left: 0.19rem;
    top:0.19rem;
    position: absolute;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
    background: #f1f1f1;

}
.text a{
    color: #2f6b97;
}
.text {
    color: #373a3e;
    padding: 0.169rem 0;
    line-height:0.435rem;
}
.text em{
    color: #aaacaf;
}
.imgbox a {
    display: block;
    float: left;
    width: 1.064rem;
    height: 1.064rem;
    margin-right:0.096rem;
    background: #f1f1f1;
}
.imgbox a img {
    width: 100%;
    height: 100%;
    display: block;
}
.itemlist {
    flex: 1;
    -webkit-flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;

}

.wrap{
    height:100%;

}
.itemlist.current{
    display: block;
}
.group {
    flex: 1;
    -webkit-flex: 1;
    width:100%;
}
.box {
    flex: 1;
    -webkit-flex: 1;
    overflow: hidden;
}




.swiper-container {
    width: 100%;
    -webkit-flex: 1;
    flex: 1;

}
/*.swiper-slide {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}*/

.swiper-scrollbarH .swiper-scrollbar-drag{
    background: #3c8dd9;
}
.swiper-scrollbarH{
    background: none;
    border-bottom: 0.0241rem solid #f1f1f1;
}
.swiper-container-horizontal>.swiper-scrollbarH {
    bottom: auto;
    opacity: 1 !important;
    top:1.2rem;
}
body,html,.wrap{
    height: 100%;
}
.swiper-wrapperH{
    position: absolute;

}
.swiper-pagination{
    width: 100%;
    height: 1.2rem;
    top: 0;
    bottom:auto ;
    z-index:11;
}
.swiper-pagination-bullet{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 100%;
    background: none;

}
.item{
    background: #fff;
}

.swiper-containerV .swiper-slide{

    padding-bottom: 1.2rem;
    height: auto;
}

.pull {
    height: 1.2rem;
    line-height:1.2rem;
    text-align: center;
    flex-shrink: 0;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.swiper-wrapper-v{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 400ms;
    transition: transform 400ms;
}
.refreshing {
    -webkit-transform: translate3d(0, 1.2rem, 0) !important;
    transform: translate3d(0, 1.2rem, 0)!important;
    -webkit-transition: -webkit-transform 400ms;
    transition: transform 400ms;
}
.push{
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
}

body{
    background: #efefef;
}