
<div class="productionPop pop">
    <div class="mask"></div>
    <div class="productionPop-content">
        <h2>上传照片
            <span class="close">╳</span>
        </h2>
        <div class="br selectform">
            <span>上专到</span>
            <div class="select-widget">
                <div class="select-selected select-item">
                    <img src="" alt=""/>
                    <p>春天大大</p><em>10张</em>
                </div>
                <div class="select-list">
                    <div class="select-item">
                        <img src="" alt=""/>
                        <p>春天大大</p><em>10张</em>
                    </div>
                    <div class="select-item">
                        <img src="" alt=""/>
                        <p>春天大大</p><em>10张</em>
                    </div>
                    <div class="select-item">
                        <img src="" alt=""/>
                        <p>春天大大</p><em>10张</em>
                    </div>
                    <div class="select-item">
                        <img src="" alt=""/>
                        <p>春天大大</p><em>10张</em>
                    </div>
                    <div class="select-item">
                        <img src="" alt=""/>
                        <p>春天大大</p><em>10张</em>
                    </div>
                    <div class="select-item create-btn createBtn">
                        <img src="" alt=""/>
                        <p>创建相册</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="create-pop pop" >
    <div class="mask"></div>
    <div class="create-content">
        <h2>创建相册  <span class="close">╳</span></h2>

        <form action="">
            <div class="br">
                <span>相册名称：</span> <input type="text"/><em>0/30</em>
            </div>
            <div class="br">
                <span>相册描述：</span> <textarea placeholder="说说这个相册的故事。。。"></textarea><em>0/2000</em>
            </div>
            <div class="br">
                <span >分类：</span>
                <select name="goodStyle" id="goodStyle">
                    <option value="中式古典">中式古典</option>
                    <option value="韩式简约">韩式简约</option>
                    <option value="欧式奢华">欧式奢华</option>
                    <option value="唯美自然">唯美自然</option>
                    <option value="个性时尚">个性时尚</option>
                </select>
            </div>
            <div class="br btn">
                <button>确定</button>
                <button class="cancel">取消</button>
            </div>
        </form>
    </div>
</div>
