<select name="style" id="goodStyle">
    <option value="中式古典">中式古典</option>
    <option value="韩式简约">韩式简约</option>
    <option value="欧式奢华">欧式奢华</option>
    <option value="唯美自然">唯美自然</option>
    <option value="个性时尚">个性时尚</option>
</select>