body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: #f0eff5;
}
#foot .content{
	color:#666666;
}
#foot .title{
	color:#333333;
}
/* body::before { 
	content: url(../images/base_head.png); 
} */
.page-content, .pages, .view, .views, body, html {
	overflow: visible;
}

.page>.navbar, .page>.toolbar, .view>.navbar, .view>.toolbar, .views>.navbar,
	.views>.toolbar {
	position: fixed;
}

.page-on-left {
	overflow: auto;
}

.modal, .modal-overlay {
	position: fixed;
}

button.active-state {
	opacity: 0.8;
}

body[myselect="true"] {
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-khtml-user-select: initial;
	-ms-user-select: initial;
	/* 以下两个属性目前并未支持，写在这里为了减少风险 */
	-o-user-select: initial;
	user-select: initial;
}
.content{
	color:#666666;
}
.title{
	color:#333333;
}
.bottom {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0px;
}

progress {
	height: 3px;
	border-radius: 2px;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	background-color: #eee;
}

progress::-webkit-progress-bar {
	background-color: #d7d7d7;
}

progress::-webkit-progress-value {
	background-color: #ffc800;
}

.swiper-pagination-bullet-active {
	background-color: #FFF;
}

.btn {
	margin-top: 13px;
	border-radius: 5px;
	width: 280px;
	height: 40px;
	color: #FFF;
	background: #a0a0a0;
	font-size: 1.5em;
	line-height: 1.5;
	border: none;
}

.btn-active {
	background: #ffc800;
}
/*弹窗*/
.alert-title {
	font-size: 1.1em;
}

.alert-content {
	font-size: 0.9em;
}

/*浮动*/
.f_r {
	float: right;
}

.f_l {
	float: left;
}

.detail-num-change {
	font-size: 20px;
	padding: 0 20px;
}

.navbar {
	color: white;
	background-color: #414046;
	position: fixed;
	z-index: 9999;
	top: 0px;
}

.head {
	margin-top: 15px;
	padding: 10px 20px;
}

.head .head-left p {
	/*隐藏超出部分文字*/
	overflow: hidden;
	/*多出文字后添加省略号*/
	text-overflow: ellipsis;
	/*强制不换行*/
	white-space: nowrap;
}

p {
	padding: 0px;
	margin: 0px;
}

a {
	color: black;
}
/*更新*/
.menu_renewal .title{
	color: #333333;
	font-size: 15px;
}
.menu_renewal .content{
	color: #666666;
	font-size: 12px;
}
.menu_renewal .row{
	margin-top: 55px;
}
.menu_renewal .row .col-50{
	width: 50%;
	padding: 0px 10px;
}
.menu_renewal .btn{
	padding: 5px 15px;
	border: 1px solid #ffc800;
	background: transparent;
	color: #ffc800;
	font-size: 14px;
	border-radius: 5px;
}
/*状态小人*/
#foot {
	position: fixed;
	z-index: 9998;
	right: 1%;
	bottom: 1%;
	width: 30%;
}
#foot .button{
	padding: 0 20px; 
	border: 1px solid #ffc800; 
	color: #ffc800; 
	font-size: 1.3em; 
	border-radius: 5px;
}
#foot button {
	padding: 13px;
	font-size: 1em;
	line-height: 1;
	color: #FFF;
	border: none;
	background: #ffc800;
	text-align: center;
}
/*提示更新*/
#foot 
/*未打开页面*/
#unstart {
	display: none;
	padding: 0px 10%;
	background-color: white;
	padding-top: 20px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 150%;
	top: 0px;
	left: 0px;
	text-align: center;
}

#unstart .row {
	padding: 0px;
	border: none;
}

.hint {
	margin-top: 15px;
	border: 1px dashed #ddd;
	padding: 10px;
	color: #aaa;
	text-align: left;
}

#unstart .hint a {
	color: #337Ab7;
}

.btn-start {
	margin-top: 20px;
	border-radius: 6px;
	padding: 10px 0px;
	background-color: #ffc800;
}

.btn-start p {
	color: #FFF;
}
/*提示更新*/
#hasnew {
	display: none;
	padding: 0px 10%;
	background-color: white;
	padding-top: 20px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 150%;
	top: 0px;
	left: 0px;
	text-align: center;
}

#hasnew .row {
	padding: 0px;
	border: none;
}

#hasnew .hint a {
	color: #337Ab7;
}

#hasnew .download, #hasnew .download2 {
	margin-top: 20px;
	border-radius: 6px;
	padding: 10px 0px;
	background-color: #ffc800;
}

#hasnew .download p, #hasnew .download2 p {
	color: #FFF;
}
/*首页*/
.firstpage {
	padding: 0px;
	background-color: #f0eff5;
}
.firstpage .list{
	padding: 10px;
}
.firstpage .list .title{
	font-size: 16px;
}
.firstpage .list .fr{
	width:150px;
	font-size: 0.9em;
	color:#A2A2A2;
	line-height: 2;
	padding-right: 12px;
	text-align: right;
}
.head-left {
	float: left;
}

.head-left img {
	width: 90px;
	height: 90px;
	border-radius: 50%
}

.head-left p {
	font-size: 1.4em;
}

.head-right {
	text-align: right;
	float: right;
}

.head-right .money {
	font-size: 2.4em;
}

.money_image {
	width: 20px;
	height: 21px;
	display: inline-block;
	background: url(../images/money.png) no-repeat left top;
	background-size: 14px 21px;
}

.jrsy_icon {
	width: 20px;
	height: 16px;
	display: inline-block;
	background: url(../images/jrsy.png) no-repeat left top;
	background-size: 16px 16px;
	margin-left: 10px;
}

.head-right button {
	padding: 5px 10px;
	border-radius: 5px;
	background: white;
	font-size: 1.4em;
	border: 2px solid #ffc800;
	color: #ffc800;
}

.head-right #invite_code {
	padding: 5px 5px;
	border-radius: 5px;
	background: white;
	border: 2px solid #ec0002;
	color: #ec0002;
	font-size: 1.4em;
}

.row {
	margin-top: 5px;
	padding-bottom: 10px;
	border-bottom: 0.5px solid #d9d9d9;
}

.text-center {
	text-align: center;
}

.row span {
	font-size: 1.35em;
}
.row.list span {
	font-size: 1.15em;
	color: #333333;
	line-height: 1.5;
}
.red {
	font-size: 1.2em;
	color: red;
}

.row dl {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 10px;
}

.row dd {
	margin: 0px;
	font-size: 0.9em;
	color: #848484;
}

.row dt {
	margin-left: 12px;
	font-size: 1.2em;
	line-height: 2;
	font-weight: normal;
}

.row dt .red {
	color: red;
	font-size: 1.2em;
}

.fr {
	width: 13px;
	height: 26px;
	display: inline-block;
	background: url(../images/back.png) no-repeat right center;
	background-size: 8px 13px;
	float: right;
}

.indiana_icon {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/indiana.png) no-repeat left center;
	background-size: 18px 18px;
	float: left;
}

.tzwp_icon {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/tzwp_icon.png) no-repeat left center;
	background-size: 18px 18px;
	float: left;
}

.lxkf_icon {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/lianxikefu.png) no-repeat left center;
	background-size: 18px 18px;
	float: left;
}

.fbsb_icon {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/fubusibang.png) no-repeat left center;
	background-size: 18px 18px;
	float: left;
}

.gywm_icon {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/guanyuwomen.png) no-repeat left center;
	background-size: 18px 18px;
	float: left;
}

/*个人中心*/
.my_icon {
	width: 35px;
	height: 25px;
	display: inline-block;
	background: url(../images/guanyuwomen.png) no-repeat left center;
	background-size: 25px 25px;
	float: left;
}

.page-content.my {
	background: #F0EFF5;
}

.page-content.my .row {
	background: white;
	padding-top: 10px;
}

.page-content.my .row.row-line {
	margin: 0px;
}

.page-content.my.my-about .row {
	margin: 5px;
	padding: 5px;
}

.list {
	padding: 5px 15px 15px 15px;
}

.start {
	width: 20px;
	height: 10px;
	display: inline-block;
	background: url(../images/star.png) no-repeat left top;
	background-size: 9px 9px;
}

.menu span {
	line-height: 3;
}

.row_no {
	margin: 0px;
	padding: 0px;
	border-bottom: 5px solid #eeeeee;
}

/*我的信息*/
.userinfo_info {
	margin: 0px;
	padding: 0px;
}

.userinfo_info div {
	padding: 5px 10px 5px 10px;
}

.userinfo_info .title {
	font-size: 1.2em;
}

.userinfo_info .content {
	color: #848484;
}

.userinfo_btn {
	width: 20px;
	height: 25px;
	display: inline-block;
	background: url(../images/shoutu_icon3.png) no-repeat left bottom;
	background-size: 20px 20px;
}

#invite_code span {
	font-size: 1em;
	line-height: 1.5;
}

.active {
	color: #ffc800;
}
/*关于我们*/
.foot p {
	font-size: 0.7em;
	text-align: center;
}

.about_icon_wx {
	width: 23px;
	height: 12px;
	display: inline-block;
	background: url(../images/about_icon_wx.png) no-repeat left top;
	background-size: 16px 12px;
}
/*奖励详情*/
#jlxq_info img {
	position: fixed;
	z-index: 98;
}

#jlxq_info .content {
	position: fixed;
	z-index: 99;
	left: 10%;
	width: 80%;
	top: 45%;
	font-size: 1.1em;
}

#jlxq_info .content .orange {
	color: #ffc800;
	font-size: 2em;
}
/*邀请二维码*/
#invite_code_info .content {
	position: fixed;
	z-index: 99;
	width: 70%;
	left: 18.5%;
	top: 39.7%;
	font-size: 1.1em;
}

#invite_code_tv {
	position: fixed;
	z-index: 99;
	bottom: 9%;
	text-align: center;
}
/*收徒记录*/
.shoutu_jl_info {
	margin-top: 0px;
	padding: 0px;
}

.shoutu_jl_info div {
	padding: 10px;
}

.shoutu_jl_info .time {
	font-size: 0.9em;
	color: #848484;
}

.shoutu_jl_info .orange {
	color: #ffc800;
	font-size: 1.6em;
	line-height: 2;
}
/*常见多个问题*/
.problems {
	background: #f0eff5;
}

.problems ::-webkit-file-upload-button {
	color: transparent;
	width: 30px;
	height: 30px;
	overflow: hidden;
	border: none;
	background: url("../images/problem_image.png") no-repeat 0 0;
	background-size: 25px 25px;
}

.problems h4 {
	padding: 8px 16px;
	margin: 0px;
	background-color: #dbdbdb;
	font-weight: normal;
	font-size: 0.85em;
}

.problems .content {
	padding: 8px 16px;
	margin: 0px;
	background: white;
}

.problems .row {
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #dbdbdb;
}

.problems .row .col-33 {
	width: 33.333333333333336%;
	width: -webkit-calc(( 100% - 1px * 2)/3);
	width: calc(( 100% - 1px * 2)/3);
	border-left: 1px solid #dbdbdb;
	background: white;
}

.problems button {
	padding: 10px;
	font-size: 1.2em;
	line-height: 1;
	color: #FFF;
	border-radius: 10px;
	border: none;
	background: #ffc800;
	text-align: center;
	width: 80%;
	margin-left: 10%;
}
/*我的工单*/
.myproblem .item-content {
	padding: 0px;
	margin: 0px;
}

.myproblem .item-content .item-inner {
	padding: 0px;
	margin: 0px;
}

.myproblem .item-content .item-inner .item-title {
	background-color: #F6F6F6;
	padding: 8px 16px;
}

.myproblem .item-content .item-inner .mysub {
	border-top: 1px solid #dbdbdb;
	padding: 14px 0px 14px 16px;
	font-weight: normal;
}

.myproblem .item-content .item-inner .mysub .item-subtitle {
	font-size: 1.2em;
}
/*常见问题*/
.problem {
	background-color: #ffefad;
}

.problem .row {
	border-bottom: 1px solid #fff;
	background-color: #ffefad;
}

.problem .row_no {
	margin: 0px;
	padding: 0px;
	border-bottom: 5px solid #f4524a;
}

.problem h3 {
	margin: 0px 0px 8px 0px;
}

.problem h4 {
	margin: 0px 0px 8px 0px;
}

.problem div.row {
	margin: 0px;
	padding: 10px;
}

.problem .span {
	font-size: 1em;
}

.problem .title_image {
	width: 35px;
	height: 25px;
	display: inline-block;
	background: url(../images/problem_title.png) no-repeat left center;
	background-size: 25px 25px;
	float: left;
}

.problem .subtitle_image {
	width: 35px;
	height: 25px;
	display: inline-block;
	background: url(../images/problem_subtitle.png) no-repeat left center;
	background-size: 25px 25px;
	float: left;
}

.problem .title {
	padding: 5px 20px 5px 20px;
	border-radius: 20px;
	color: #fff;
	background: #f4524a;
}

.problem .subtitle {
	color: #f4524a;
}

.problem .subtitle-left {
	color: #f4524a;
	margin-left: 35px;
}

.problem .content {
	margin-left: 35px;
	font-size: 1.2em;
}

.problem button {
	padding: 15px;
	font-size: 1em;
	line-height: 1;
	color: #FFF;
	border-radius: 10px;
	border: none;
	background: #ffc800;
	text-align: center;
}

input[type="file"]::-webkit-file-upload-button {

}

.problem button[type="button"] {
	padding: 10px 20px;
}
/*绑定手机与支付宝界面*/
#bind .red {
	margin-left: 5px;
	font-size: 1em;
}

#bind {
	background: #eeeeee;
	padding: 10px;
}

#bind .row {
	margin-top: 4px;
	padding-bottom: 0px;
}

#bind .row input[type='text'] {
	background: transparent;
	border: none;
	font-size: 1.35em;
	line-height: 1.8;
}

#bind .row .input {
	background: white;
	border-radius: 8px;
	border: 1px solid #d9d9d9;
}

#bind .row .input button {
	background: #ffc800;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: none;
	float: right;
	font-size: 1.35em;
	line-height: 2.5;
	color: #FFF;
	margin: 0px;
	padding: 0px 5px;
}

#bind .row .btn-ok {
	margin-top: 10px;
	width: 100%;
	border-radius: 8px;
	background: white;
	border: 1px solid #ffc800;
	font-size: 1.35em;
	line-height: 2;
	color: #ffc800;
}
/*weixinhome页*/
#weixinhome {

}

#weixinhome .say {
	border: 2px solid #eeeeee;
	padding: 5px;
	border-radius: 10px;
}

#weixinhome .pop {
	display: none;
	position: fixed;
	z-index: 999;
	right: 0px;
	top: 0px;
}
/*home2页*/
#home2 .home_image_download {
	width: 30px;
	height: 20px;
	display: inline-block;
	background: url(../images/home_image_download.png) no-repeat left center;
	background-size: 20px 20px;
	float: left;
}

#home2 .home_image_icon {
	width: 30px;
	height: 20px;
	display: inline-block;
	background: url(../images/qwsw.png) no-repeat left center;
	background-size: 20px 20px;
	float: left;
}

#home2 .first-row {
	margin-top: 50%;
}

#home2 .first {
	margin-top: 5%;
}

#home2 .yellow {
	margin-top: 5%;
}

#home2 h3 {
	color: #FFF;
	text-align: start;
	font-size: 1em;
	padding-left: 30px;
}

#home2 .home_image_money {
	width: 30px;
	height: 20px;
	display: inline-block;
	background: url(../images/home_image_money.png) no-repeat left center;
	background-size: 20px 20px;
	float: left;
}

#home2 .row p {
	font-size: 0.9em;
	text-align: center;
	margin-bottom: 5px;
}

#home2 .row button {
	margin: 0px 20px;
	font-size: 1em;
	line-height: 1;
	color: #000;
	border: none;
	width: 270px;
	height: 55px;
	background: url("../images/home_btn1.png") no-repeat left center;
	background-size: 270px 55px;
}

#home2 .row button[data-disabled="disabled"] {
	color: #FFF;
	background: url("../images/home_btn2.png") no-repeat left center;
	background-size: 270px 55px;
}

#home2 .row button[isbutton='false'] {
	background: transparent;
	color: #000000;
	padding: 0px;
	margin-top: 20px;
}

#home2 {
	background-color: white;
}

#home2 .row {
	text-align: center;
}

#home {
	background: #FFF;
}

#home p {
	color: #373828;
}

#home p.know font {
	border-bottom: 1px solid #373828;
}

#home .row {
	text-align: center;
}

#home button.install {
	padding: 15px 0px;
	margin-top: 8px;
	margin-bottom: 15px;
	font-size: 1em;
	line-height: 1;
	color: #000;
	border: none;
	width: 175px;
	height: 45px;
	background: url("../images/home_btn.png") no-repeat left center;
	background-size: 175px 45px;
}

#home .stage {
	display: none;
}

#home button#ok {
	display: none;
	width: 165px;
	height: 43px;
	border: 1.5px solid #ffffff;
	border-radius: 30px;
	font-size: 1.1em;
	background-color: white;
	opacity: 0.2;
	position: absolute;
	top: -webkit-calc(15% + 335px);
	top: calc(15% + 335px);
	right: -webkit-calc(( 100% - 200px)/2);
	right: calc(( 100% - 200px)/2);
}

#login {
	display: none;
	position: fixed;
	z-index: 999;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(82, 82, 82, 0.5);
}

#login #login_dialog {
	background: white;
	margin-top: 120px;
	margin-left: 10%;
	padding: 10px 5px;
	border-radius: 10px;
}
/*用户信息页*/
#userinfo_edit {
	background-color: #ebebeb;
}

#userinfo_edit .row {
	margin: 0px;
	border: none;
}

#userinfo_edit #head {
	text-align: center;
	padding: 10px 20px;
	background-color: white;
}

#userinfo_edit #head p {
	line-height: 3;
	font-size: 1.5em;
}

#userinfo_edit #head img {
	width: 64px;
	width: 64px;
	border-radius: 50%;
}

#userinfo_edit .title {
	padding: 10px 15px;
	background-color: #ebebeb;
	color: #666666;
	font-size: 1.2em;
}

#userinfo_edit .input {
	background-color: white;
}

#userinfo_edit input {
	border: none;
	background: transparent;
	font-size: 1.35em;
}

#userinfo_edit button {
	background: #ffc800;
	border: none;
	float: right;
	font-size: 1.35em;
	line-height: 2.5;
	color: #FFF;
	margin: 0px;
	padding: 0px 5px;
}

#userinfo_edit .image {
	float: right;
	width: 30px;
	height: 28px;
	line-height: 2;
	background: url(../images/userinfo_edit.png) no-repeat left bottom;
	background-size: 15px 14px;
}

#userinfo_edit #tj {
	background-color: #ebebeb;
	padding: 10px 20px;
}

#userinfo_edit #tj button {
	border-radius: 5px;
	background: #ffc800;
	border: none;
	width: 100%;
	font-size: 1.35em;
	line-height: 2.5;
	color: #FFF;
	margin: 0px;
	padding: 0px 5px;
}

#userinfo_edit #ts {
	background-color: #ebebeb;
	color: #a5a5a5;
	text-align: center;
	font-size: 0.85em;
	padding-bottom: 30px;
}
/* indiana 一元夺宝*/
#indiana-index .indiana_dbjl_icon,.indiana_dbjl_icon {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/indiana_dbjl.png) no-repeat left center;
	background-size: 18px 18px;
	float: left;
}

#indiana-index .indiana_hdgz_icon {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/indiana_hdgz.png) no-repeat left center;
	background-size: 18px 18px;
	float: left;
}

#attend-num {
	width: 45px;
	height: 30px;
	font-size: 1.5em;
	text-align: center;
}

.orderList .contacts-block .list-group .list-group-title {
	padding: 5px 15px;
	height: 30px;
	font-weight: 300;
	font-size: 0.9em;
}

.orderList .list-group-item {
	font-size: 1.1em;
	font-weight: 300;
}
/*问题反馈*/

/*任务*/
/* Chrome, Safari, Opera */
@-webkit-keyframes progressbar {
    from {
        width:0
    }
    to {
        width:100%
    }
}
/* Standard syntax */
@keyframes progressbar {
    from {
        width:0
    }
    to {
        width:100%
    }
}
/*给这个按钮创建一个动名名称：buttonLight，然后在每个时间段设置不同的background,color来达到变色效果，改变box-shadow来达到发光效果*/
@-webkit-keyframes 'buttonLight' {
   from {
     background: rgba(96, 203, 27,0.5);
     -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset, 0 0 3px rgba(220, 120, 200, 0.5);
     color: red;
   }
   25% {
     background: rgba(196, 203, 27,0.8);
     -webkit-box-shadow: 0 0 10px rgba(255, 155, 255, 0.5) inset, 0 0 8px rgba(120, 120, 200, 0.8);
     color: blue;
  }
  50% {
    background: rgba(196, 203, 127,1);
    -webkit-box-shadow: 0 0 5px rgba(155, 255, 255, 0.3) inset, 0 0 3px rgba(220, 120, 100, 1);
    color: orange;
  }
  75% {
    background: rgba(196, 203, 27,0.8);
    -webkit-box-shadow: 0 0 10px rgba(255, 155, 255, 0.5) inset, 0 0 8px rgba(120, 120, 200, 0.8);
    color: black;
  }
 to {
   background: rgba(96, 203, 27,0.5);
   -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3) inset, 0 0 3px rgba(220, 120, 200, 0.5);
   color: green;
  }
}

@-webkit-keyframes 'wobble' {
   0% {
      margin-left: 100px;
      background: green;
   }
   40% {
      margin-left: 150px;
      background: orange;
   }
   60% {
      margin-left: 75px;
      background: blue;
   }
   100% {
      margin-left: 100px;
      background: red;
   }
}
@keyframes finger {
  0%{
    background-image: url("../images/finger_1.png");
  }
  33%{
    background-image: url("../images/finger_2.png");
  }
  66%{
    background-image: url("../images/finger_3.png");
  }
  100%{
    background-image: url("../images/finger_1.png");
  }
}
@-webkit-keyframes finger {
  0% {
  	background-image: url("../images/finger_1.png");
	}
  33%{
    background-image: url("../images/finger_2.png");
  }
  66%{
    background-image: url("../images/finger_3.png");
  }
  100%{
    background-image: url("../images/finger_1.png");
  }
}
.finger {
  width: 50px;
  height: 50px;
  z-index:999;
  background-size:50px 50px;
  -webkit-animation:finger 1s linear infinite both;
  animation: finger 1s linear infinite  both;
}
/*放大缩小效果 光圈效果*/

@keyframes ani-zoom-loop {
  from {
    transform: scale(1, 1);
    opacity:0.5;
  }
  to {
    transform: scale(2, 2);
    opacity:0.2;
  }
}

@-webkit-keyframes ani-zoom-loop {
  from {
    -webkit-transform: scale(1, 1);
    opacity:0.5;
  }
  to {
    -webkit-transform: scale(2, 2);
    opacity:0.2;
  }
}

@keyframes ani-opacity-in{
		from{
			opacity:0;
			margin-top:-30px;
			transform: scale(0, 0);
		}
		to{
			opacity:1;
			margin-top:0px;
			transform: scale(1,1);
		}
}
@-webkit-keyframes ani-opacity-in{
	from{
		opacity:0;
		margin-top:-30px;
		-webkit-transform: scale(0,0);
	}
	to{
		opacity:1;
		margin-top:0px;
		-webkit-transform: scale(1,1);
	}
}
.ani-opacity-in{
	animation: ani-opacity-in 0.7s linear 1 both;
    -webkit-animation:ani-opacity-in 0.7s linear 1 both;
}

.first1 {
	position: fixed;
	z-index: 995;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 200%;
}

.finger-box {
	position: absolute;
	top: 240px;
	left: 21%;
	z-index: 999;
	padding: 20px;
}

.finger-box .button {
	background: white;
	border: 1px solid #ffc800;
	color: black;
	position: absolute;
	left: 10px;
	transform: scale(1, 1);
}

.float-box {
	width: 15px;
	height: 15px;
	margin-left: 3px;
	margin-bottom: -6px;
	border-radius: 15px;
	background-color: #000;
}

.ani-zoom-loop {
	-webkit-animation: ani-zoom-loop 1s linear infinite alternate both;
	animation: ani-zoom-loop 1s linear infinite alternate both;
}
/*tzwp*/
.tzwp {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 150%;
	top: 0px;
	left: 0px;
	text-align: center;
}

.tzwp-index {
	background: #fff9eb;
}

.tzwp-index .buttons-row a {
	color: #333333;
	background: white;
	border: 1px solid #fff9eb;
	font-size: 1.2em;
}

.tzwp-index .buttons-row a.active {
	color: #ffc800;
}

.tzwp-index .tab {
	background: white;
	text-align: center;
	color: #333333;
	padding-top: 1px;
	margin: 0px 10px;
	width: -webkit-calc(100% - 20px);
	width: calc(100% - 20px);
}

.tzwp-index .tab .row {
	border-bottom: 1px solid #DDDDDD;
}

.tzwp-index .tab .row span {
	color: #333333;
	font-size: 1em;
}

.tzwp-index .tab .row span.th {
	font-weight: 600;
}

.tzwp-index .tab .row .col-25 {
	width: -webkit-calc(100%/ 2);
	width: calc(100%/ 2);
}

.tzwp-index .tab .row .line {
	border-right: 1px solid #DDDDDD;
}

.tzwp .content {
	background: url(../images/tzwp_bg1.png) no-repeat top center;
	background-size: 300px 244px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	padding-right: 15px;
	top: 105px;
	left: 0px;
	text-align: center;
}

.tzwp .content div {
	padding: 5px 0px;
}

.tzwp .content button {
	padding: 5px 20px;
	border-radius: 3px;
	border: none;
	background: #ffc800;
	color: white;
	margin-top: 20px;
	font-size: 1.1em;
}

.tzwp .content .tzwp_title {
	border-style: dashed none;
	border-width: .5px;
	border-color: grey;
	margin-top: 85px;
	font-size: 1.35em;
}

#tzwp-success .content .tzwp_title {
	font-size: 1.2em;
}

.tzwp .content .tzwp_hint {
	font-size: 1.1em;
}

.tzwp .close, .tzwp_bm .close {
	width: 69px;
	height: 69px;
	background: url(../images/tzwp_close.png) no-repeat top right;
	background-size: 23px 23px;
	position: fixed;
	z-index: 9999;
	top: 105px;
	right: -webkit-calc(( 100% - 306px)/2);
	right: calc(( 100% - 306px)/2);
}

.tzwp_bm {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 150%;
	top: 0px;
	left: 0px;
	text-align: center;
}

.tzwp_bm .content {
	background: url(../images/tzwp_bg2.png) no-repeat top center;
	background-size: 296px 298px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	padding-right: 15px;
	top: 105px;
	left: 0px;
	text-align: center;
}

.tzwp_bm .content .tzwp_title {
	margin-top: 65px;
	color: #ffc800;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.tzwp_bm .content .tzwp_hint p {
	border-bottom: 1px dashed grey;
	font-size: 1.1em;
	word-break: break-word;
	text-align: left;
	width: 242px;
	margin-left: -webkit-calc(( 100% - 260px)/2);
	margin-left: calc(( 100% - 260px)/2);
	padding: 5px 10px;
}

.tzwp_bm .content .tzwp_time {
	font-size: 1.1em;
	width: 262px;
	margin-left: -webkit-calc(( 100% - 276px)/2);
	margin-left: calc(( 100% - 276px)/2);
	text-align: start;
	background: #ffecc8;
	padding: 5px 10px;
}

.tzwp_bm .content .tzwp_time span {
	font-size: 0.85em;
}

.tzwp_bm .content button {
	margin-top: 20px;
	padding: 5px 20px;
	border-radius: 3px;
	border: none;
	background: #ffc800;
	color: white;
	font-size: 1.1em;
}
.shoutu_sm .head {
	border: none;
	margin-top: 35px;
	z-index: 9999;
	position: fixed;
	left: -webkit-calc(( 100% - 70px)/2);
	left: calc(( 100% - 70px)/2);
	padding: 0px;
}
/*链接收徒*/
.shoutu_lj .title {
	padding: 0px 15px;
	color: #999999;
}

.shoutu_lj .title span {
	font-size: 1.2em;
}

.shoutu_lj .title #cpoykeywords {
	font-size: 1.2em;
}
.advs {
		font-size: 12px;
}
/*各种屏幕适配*/
@media ( device-width :320px , device-height :480px) and
	(-webkit-min-device-pixel-ratio:2) { /* iphone5及以下 */
	#invite_code_info .content {
		position: fixed;
		z-index: 99;
		width: 70%;
		left: 14.5%;
		top: 36%;
		font-size: 1.1em;
	}
}

@media ( device-width :320px) and (-webkit-min-device-pixel-ratio:2) {
	/* iphone5及以下 */
	
}

@media ( device-width :375px) and (-webkit-min-device-pixel-ratio:2) {
	/* 兼容iphone 6 */
	.shoutu_sm .head {
		margin-top: 15%;
		left: -webkit-calc(( 100% - 80px)/2);
		left: calc(( 100% - 80px)/2);
	}
	.shoutu_sm .head img {
		width: 80px;
		height: 80px;
	}
	#invite_code_info .content {
		position: fixed;
		z-index: 99;
		width: 70%;
		left: 18.5%;
		top: 41%;
		font-size: 1.1em;
	}
	#home .row .loading, #home .row .loading .loading_bt {
		height: 71px;
	}
	.tzwp .content,.tzwp_bm .content{
		top:150px;
	}
	.tzwp .close,.tzwp_bm .close{
		top:150px;
		right: -webkit-calc((100% - 306px)/ 2);
		right:calc((100% - 306px)/ 2);
	}
}

@media ( device-width :414px) and (-webkit-min-device-pixel-ratio:2) {
	/* 兼容iphone6 plus */
	.shoutu_sm .head {
		margin-top: 15%;
		left: -webkit-calc(( 100% - 100px)/2);
		left: calc(( 100% - 100px)/2);
	}
	.shoutu_sm .head img {
		width: 90px;
		height: 90px;
	}
	#invite_code_info .content {
		position: fixed;
		z-index: 99;
		width: 70%;
		top: 41.8%;
		font-size: 1.1em;
	}
	#invite_code_tv{
		bottom:10%;
	}
	#home .row .loading, #home .row .loading .loading_bt {
		height: 74px;
	}
	.tzwp .content, .tzwp_bm .content {
		top: 200px;
	}
	.tzwp .close, .tzwp_bm .close {
		top: 200px;
		right: -webkit-calc(( 100% - 306px)/2);
		right: calc(( 100% - 306px)/2);
	}
}
