
.base-nav a.app-c,
.base-nav a.app-c:hover,
.base-nav a.app-c:active{
    background: #ff7478;
}
.content{
    height: 589px;
    overflow: hidden;
    background: url("../img/big_bg.jpg") top center no-repeat #e8dfd0;
}
.content .base-section{
    height: 100%;
}
.i_title{
    position: absolute;
    left: 363px;
    top: 108px;
}
.i_iphone{
    position: absolute;
    left: 0;
    bottom:0px;
}
.box-a{
    position: absolute;
    left: 366px;
    top: 238px;
    padding-left: 155px;
}
.box-a span{
    position: absolute;
    left: 0;
    top:0;
    display: block;
    height: 142px;
    width: 142px;
    background: url("../img/code_ma.png") no-repeat left top;
}

.box-a a{
    display: block;
    width: 173px;
    height: 64px;
    background: url("../img/code_ma.png") no-repeat -153px -3px;
}
.box-a a.android_btn{
    background-position: -153px -79px;
    margin-top: 15px;

}

.fadeInRight{
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    animate-delay: 1.5s;
}
.bounceInUp{
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;
}


/*пео╒*/
.app{
    padding-bottom:60px;
    width: 960px;
    margin: 0 auto;
}
.app dl{
    float:left;
    width:264px;
    padding-top:300px;
    text-align:center;
    padding-left:84px;
}
.app dl:first-child{
    padding-left:0;
}
.app dt{
    font-size:20px;
    position:relative;color:#191a1b;
}
.app dd{
    color:#5d626f;
    font-size:16px;
    line-height:30px;
    padding-top:15px;
}
.app dt .icons{
    display:block;
    position:absolute;
    width:240px;height:240px;
    bottom:60px;
    left:50%;
    margin-left:-120px;
}
.info-1 .icons{
    background-image:url('../img/i-1.jpg');
}
.info-2 .icons{
    background-image:url('../img/i-2.jpg');
}
.info-3 .icons{
    background-image:url('../img/i-3.jpg');
}

.ui-dialog-mask{ opacity: 1; filter: alpha(opacity=100);}