.base-nav a.photoframes-c,
.base-nav a.photoframes-c:hover,
.base-nav a.photoframes-c:active {
    background: #ff7478;
}

.section {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.item {
    width: 245px;
    height:387px;
    float:left;
    margin: 15px 2px 0;
    padding-top: 1px;
    background: url(../img/photoframes/2.png) no-repeat center top;
}
.item .img-a{
    display: block;
    width: 200px;
    height: 283px;
    background: #f0f0f0;
    margin: 8px auto 15px;
}
.item img{
    display: block;
    width: 200px;
    height: 283px;
}
.item h2,
.item p{
    position: relative;
    padding-left: 22px;
    line-height: 20px;
    font-size: 14px;
}
.item h2{
    font-size: 16px;padding-bottom: 5px;
    color: #2c3039;
}
.item p{
    padding-bottom: 4px;
    color:  #b5b5b5;
    padding-top: 3px;
}
.item p em{
    color: #fe555a;
    position: absolute;
    right: 20px;

}
.item p a{
    display: block;
    position: absolute;
    padding: 4px 15px;
    right: 8px;
    background: #fe555a;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    top: 0;
}
.item p a:hover{
    background: #FE8945;
}