.productionlist a{
    display: block;
    width: 208px;
    height: 170px;
    float: left;
    margin-right: 14px;
    margin-top: 10px;
}
.productionlist a img{
    display: block;
    width: 208px;
}
.productionlist a span{
    display: block;
}
.productionlist{
    width: 910px;
}