.menu_p{
    position: relative;
    padding-bottom: 10px;
}
.tab .menu_p span{
    display: inline-block;
    width: 120px;
    height: 35px;
    background: #fe555a;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}
.menu_p em{
    position: absolute;
    right: 0px;
    top: 0;
    height: 35px;
    line-height: 35px;
}
.tab .menu_p span:hover{
    background: #c64348;
    color: #fff;
}
.productionlist{
    margin-left: 20px;
}
.productionlist a{
    display: block;
    width: 208px;
    height: 170px;
    float: left;
    margin-right: 14px;
    margin-top: 10px;
}
.productionlist a img{
    display: block;
    width: 208px;
    height: 140px;
    border: 1px solid #d5d5d5;
}
.productionlist a em{
    color: #b9b9b9;
}
.productionlist a span{
    display: block;
}
.productionlist{
    width: 910px;
}
.pop .br.err p{
    color: #ff0000;
}
.pop .br p{
    color: #3dd48d;
}
.pop .select-selected:hover p{
    color: #fff;
}
.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .2 ;
    filter: alpha(opacity=20);
    -ms-filter: "alpha(Opacity=20)";
    filter: alpha(Opacity=20)
}

.productionPop{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.productionPop-content{
    position: absolute;
    background: #fff;
    top: 98px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0  8px 2px #6d6d6d;
    -moz-box-shadow: 0px 0  8px 2px #6d6d6d;
    box-shadow: 0px 0  8px 2px #6d6d6d;
}

.productionPop-content h2,
.create-content h2{
    position: relative;
    height: 31px;
    border-bottom: 1px solid #E5E5E5;
    background: #F3F3F3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 31px;
    font-size: 16px;
    padding-left: 10px;
}
.productionPop-content h2 span,
.create-content h2 span
{
    border: 0 none;
    cursor: pointer;
    float: right;
    font-size: 16px;
    height: 28px;
    line-height: 31px;
    width: 31px;
    position: absolute;
    text-align: center;
    line-height: 31px;
    right: 0;
    top: 0px;
    background: transparent
;

}
.responsemsg{
    font-size: 16px;
}
.productionPop-content h2 span:hover,
.create-content h2 span:hover{
    color: #fe555a;
}
.select-widget{
    position: absolute;
    width: 210px;
    height: 40px;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    left: 60px;
    top: 9px;
    background: #fff;

}
.selectform{
    position: relative;
    z-index: 99;
    background: #F3F3F3;
    padding: 9px 15px 7px;
    line-height: 40px;
    border-bottom: 1px solid #d5d5d5;
    -webkit-box-shadow: 0px -1px 1px 0px #606060;
    -moz-box-shadow: 0px -1px 1px 0px #606060;
    box-shadow: 0px  -1px 1px 0px #989898;

}
.select-list{
    position: absolute;
    left: -1px;
    top: 39px;
    background: #fff;
    border:1px solid #d5d5d5;
    width: 210px;
    border-top: 0;
    display: none;
}
.select-widget:hover .select-list{
    display: block;
}
.select-widget .select-selected i{
    right: 5px;
}
.select-widget:hover .select-selected{
    background: #57a4e0;
    color: #fff;
}
.select-widget:hover .select-selected em,
.select-widget:hover .select-selected i{
    color: #fff;
}
.typeselect{
    position: absolute;
    left: 301px;
    top: 10px;
}
.typeselect label{
    display: inline-block;
    margin-right: 10px;;
}
.typeselect input{
    margin-right: 4px;
}
.select-item{
    position: relative;
    padding-left: 50px;
    padding: 5px 0 5px 50px;
    margin: 0 5px;
    border-bottom: 1px dashed #d5d5d5;
    cursor: pointer;
    min-height: 30px;
}
.select-item i{
    display: inline-block;
    padding-left: 15px;
    color: #858585;
    position: absolute;
    right: 0;
}
.select-item:hover{
    background: #f4f4f4;
}
.select-item p{
    line-height: 15px;
    position: relative;
}
.select-item em{
    display: block;
    line-height: 15px;
    padding-top: 3px;
    color: #868686;
}
.select-item img{
    display: block;
    left: 0px;
    top: 5px;
    width: 40px;
    height: 30px;
    position: absolute;

}
.create-btn{
    background: #f4f4f4;
    margin: 0px;
    border-bottom: 0;
    padding-left: 65px;
}
.create-btn img{
    left:15px;

}
.select-selected {
    margin: 0px;
}
.select-selected img{
    left: 5px;

}
.select-selected{
    padding-left:55px ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.create-pop{
    display: none;
    z-index: 1002;
}
.create-btn p{
    line-height: 30px;
    font-size: 18px;
    
}

.create-content{
    width: 456px;
    position: fixed;
    left: 50%;
    top: 50%;
    background: #fff;
    margin: -150px 0 0 -228px;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0  8px 2px #6d6d6d;
    -moz-box-shadow: 0px 0  8px 2px #6d6d6d;
    box-shadow: 0px 0  8px 2px #6d6d6d;
}
.create-content h2{
    margin-bottom: 15px;
}
.create-content .br{
    padding-left: 85px;
    position: relative;
    padding-bottom: 8px;
}
.create-content .br span{
    position: absolute;
    left: 0;
    width: 80px;
    text-align: right;
    display: block;
    height: 23px;
    line-height: 23px;
}
.create-content .br em{
    color: #656565;
    padding-left: 5px;
}

.create-content .br input[type=text]{
    width: 255px;
    padding: 3px 5px;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.create-content select{
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 24px;
    width: 267px;
}
.create-content .br textarea{
    width: 254px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
}
.create-content .br.btn .button {
    display: inline-block;
    margin: 5px;
    width: 80px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    outline: none;
    background: #fe555a;
    border: none;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.create-content .br.btn .button:hover{
    background: #c54348;
}
.create-content .br.btn .cancel{
    background: #a3a3a3;
}
.create-content .br.btn .cancel:hover{
    background: #8a8a8a;
}

.delete-pop .pop-content{
    width: 400px;
    height: 200px;
    margin-left: -200px;
    margin-top: -100px;
    overflow: hidden;
}

.delete-pop .pop-content h2{
    height: 40px;
    background: #f4f4f4;
    border-bottom: 1px solid #ededed;
    position: relative;
    line-height: 40px;
    padding-left: 15px;
}
.delete-pop .pop-content h2 span{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
.delete-pop .pop-content h2 span:hover{
    color: #ff6600;
}
.delete-pop .pop-content p{
    text-align: center;

    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
.delete-pop .pop-content .btn{
    text-align: center;
}
.delete-pop .pop-content .btn span{
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: #d0d0d0;
    color: #fff;
    margin: 15px 10px 0;
}
.delete-pop .pop-content .btn span:hover{
    background: #b9b9b9;
}
.delete-pop .pop-content .btn .delete{
    background: #ff5611;
}
.delete-pop .pop-content .btn .delete:hover{
    background: #c72d2d;
}

.imginfo{
    float: left;
    height: 34px;
    line-height: 34px;
    margin-left: 50px;
    color: #a3a3a3;
}