{{#extend "adminStyle"}}
    <link rel="stylesheet" href="/css/index.css"/>
    <style>
        .index {
            color: #fe555a;
        }
    </style>
{{/extend}}

<div class="slide">
    <div class="big">
        <img src="img/banner.png">
    </div>
</div>

{{#extend "adminScripts"}}
    <script>

    </script>
{{/extend}}