<!DOCTYPE html>
<html>
<head lang="zh">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>桃微</title>
    <link rel="stylesheet" href="pc/content/css/base.css">
    <link rel="stylesheet" href="pc/content/css/index.css">
    <link rel="stylesheet" href="pc/content/css/animate.min.css">
</head>
<body>
<div class="top">
    <div class="section">
        <a class="logo"><img src="pc/content/img/logo.png" alt="桃微"/></a>

        <div class="nav"><a class="current" href="">首页</a><a href="">秋季特惠</a><a href="">婚纱浏览</a><a href="">婚件产品</a>
        </div>
    </div>
</div>
<div class="content">
    <div class="section">
        <img class="i_title animated lightSpeedIn" src="pc/content/img/i_title.png" alt=""/>
        <img class="i_iphone animated bounceInUp" src="pc/content/img/i_phone.png" alt=""/>

        <div class="box-a animated fadeInRight"  >
            <span class="code_ma"></span>
            <a href="" class="i_phone_btn"></a>
            <a href="" class="android_btn"></a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="section clearfix">
        <div class="col">
            <h4>关于我们</h4>

            <p>桃微是福州桃微网络科技有限公司旗下婚纱摄影品牌。<br>
                桃微于2015年9月正式成立，同年11月完成Pre-A融资。<br>
                目前是婚纱摄影O2O行业唯一一家移动互联网婚纱摄影服务平台。<br>
                拍摄咨询电话：400-172-1314<br>
                商业合作电话：18550035081<br>
                Email：contact@taove.com<br>
                地址：福州仓山区师大桃微摄影</p>
        </div>
        <div class="col">
            <h4>更多信息</h4>

            <p>
                线下店路线图（地铁）<br>
                线下店路线图（开车）<br>
                拍前贴士<br>
                摄影师招聘
            </p>
        </div>
        <div class="share">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>


    </div>
    <p class="foot">Copyright © 2015.福州桃微网络科技有限公司 All rights reserved</p>
</div>
</body>
</html>