<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/api.css'/>
    {{{block "adminStyle"}}}
</head>
<body>
<div class="leftMenu">
    <a class="admin" href="/api">相册</a>
    <a class="user" href="/api/users">用户</a>
    <a class="photographer" href="/api/photographer">摄影师</a>
</div>
<div class="main">
    {{{body}}}
</div>
{{{block "adminScripts"}}}

<script src="/js/jquery.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>
