<!DOCTYPE html>
<html>
<head lang="zh">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="always" name="referrer">
    <title>{{title}}</title>
    <link rel="stylesheet" href="pc/content/css/base.css">
    {{{block "pcStyle"}}}
</head>
<body>
<div class="top">
    <div class="section">
        <a class="logo"><img src="pc/content/img/logo.png" alt="桃微"/></a>

        <div class="nav"><a class="current" href="/index">首页</a><a href="/app">app</a><a href="/index">秋季特惠</a><a href="/photoframes">婚件产品</a><a href="/login">登录</a>
        </div>
    </div>
</div>
    {{{body}}}
<p class="foot">Copyright © 2015.福州桃微网络科技有限公司 All rights reserved</p>
{{{block "pcScripts"}}}
</body>
</html>