.top{
    position: relative;
    padding-left: 25%;
    border-bottom: 1px solid #dadada;
    padding-bottom: 15px;
    background: #fff;
}
.top img{
    height: 70px;
    width: 70px;
    position: absolute;
    left: 10px;
    top: 10px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    overflow: hidden;
}
.top a{
    display: block;
    padding-top: 15px;
    color: #333;
    font-size: 18px;
    padding-left: 8px;
}
.top span{
    display: block;
    position: relative;
    color: #666;
    padding-top: 5px;
}
.top em{
    position: absolute;
    right: 10px;;
    color: #666;
    top: 30px;
    font-family: '宋体';
}

.tab{
    background: #fff;
}

.tab span{
    display: block;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
    height: 50px;
    padding-top: 3px;
    border-bottom: 1px solid #dadada;
}
.tab span em{
    display: block;
    text-align: center;
}
.tab  .c{
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}
.panel{
    position: absolute;
    top: 197px;
    background: #efeff4;
    width:100%;
    bottom: 53px;
}
.intention{
    position: absolute;
    display: block;
    width: 80%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -40%;
    border:1px solid #f84e4e;
    font-size: 18px;
    color: #f84e4e;
    background: #efeff4;
}

.intention-main p{
    text-align: center;
    color: #93999d;
    font-size: 12px;
    padding: 10px 0;
}
.intention-main{
    padding-bottom: 50px;
}
.form div{
    position: relative;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    padding: 0px 15px;
    font-size: 16px;
    
}

.form div span{
    position: absolute;
    right: 0;
    height: 50px;
    top: 0;
    padding-right: 30px;
    color: #f84e4e;
}
.text input[type=text]{
    width:70%;
    margin-left: 5%;
    height: 50px;
    border: none;
    tab-index: 15px;
}

.intention-main .i-m-t{
    font-size: 16px;
    padding: 30px 15px;
}
.form div{
   padding-top: 1px;
}
.form div .tc-tab{
    height: 35px;
    background: #f84e4e;
    border: 1px solid #f84e4e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px auto 0;
    width: 98%;
    padding: 0;

}
.admin-main .current{
    color: #f84e4e;
}
.tc-tab em{
    width: 33.3%;
    height: 35px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 35px;
    font-size: 16px;
    background: #fff;
    float: left;
    color: #f84e4e;
    box-sizing: border-box;
}
.tc-tab .c{
    border-left: 1px solid #f84e4e;
    border-right: 1px solid #f84e4e;
}

.tc-tab .current{
    background: #f84e4e;
    color: #fff;
}

.create-intention{
    display: block;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    line-height: 45px;
    background: #f84e4e;
    color: #fff;
    font-size: 18px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.intention-list .item{
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
}

.intention-list .item h2{
    position: relative;
    padding-bottom: 10px;
    color: #666;
    font-size: 16px;
    font-weight: normal;
}

.intention-list .item h2 a{
    position: absolute;
    right: 15px;
    font-size: 14px;
    color: #666;
}

.intention-list .item p{
    color: #666;
}
.intention-list .item p span em{
    color: #333;
}
.intention-list .item p span.l em{
    color: #f84e4e;
}
.login-main{
    padding-top: 20px;
    padding-bottom: 50px;
}
.login-main input[type=text]{
    width: 92%;
    display: block;
    height: 40px;
    border:none;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    margin: 0 auto 5px;
    text-indent: 30px;
    background: transparent;
}

.login-main button{
    width: 92%;
    display: block;
    height: 50px;
    border:1px solid #ddd;
    border-bottom: 2px solid #ddd;
    color: #333;
    font-size: 16px;
    background: #fff;
    margin: 20px auto 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.l-register{
    height: 30px;
    margin: 25px auto 0;
    display: block;
    width: 92%;
    color: #1494e6;
    text-align: center;
}

.l-select{
    width: 92%;
    margin: 20px auto ;
    color: #ccc;
}
.l-select div{
    padding-top: 20px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
}

.l-select a{
    display: block;
    float: right;
    width: 20%;
    margin: 0 10px;
    text-align: center;
    color: #000;
}

.l-select a img{
    width: 100%;
}
