html,
body {
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
    height: 100%;
    position : relative;
    overflow-y : auto;
    -webkit-box-sizing : border-box;
}
body {
    background: transparent;
    -webkit-overflow-scrolling : touch;
    -webkit-transform: translate3d(0,0,0);
}
ul {
    position: relative;
    margin: -1px 0 0 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
}

li {
    position: relative;
    padding: 0;
    border: none;
    overflow: hidden;
    list-style: none;
}

li h2 {
    position: absolute;
    left: 10px;
    top: 5px;
    color: #ffffff;
    font-size: 16px;
    text-shadow: 0 1px 0 #000;
    opacity: 1;
    font-weight: normal;
    line-height: 16px;
}

li p {
    position: absolute;
    top: 30px;
    left: 10px;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    text-shadow: 0 1px 0 #000;
    opacity: 1;
}


li a:nth-of-type(2) {
    position: absolute;
    display: inline-block;
    bottom: 20px;
    left: 10px;
    color: #fff;
    font-size: 14px;
    text-shadow: 0 1px 0 #000;
    height: 30px;
    line-height: 30px;
    overflow: visible;
}

li a:nth-of-type(2) img {
    position: relative;
    top: 11px;
    margin-right: 5px;
    display: block;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

li img {
    display: block;
    width: 100%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
}

article {
    width: 100%;
    max-width: 640px;
    margin: 0 auto 10px;
    background: #fff;
}

article .img img {
    width: 100%;
}

header {
    height: 56px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

header span {
    display: block;
    position: absolute;
    right: 11px;
    top: 0;
    height: 56px;
    line-height: 56px;
    color: #8a8a8a;
    font-size: 10px;
}

header a {
    display: inline-block;
    color: #8a8a8a;
}

header img {
    position: relative;
    top: 13px;
    margin-left: 11px;
    margin-right: 5px;
    display: inline-block;
    height: 33px;
    width: 33px;
    border-radius: 33px;
}
.taove section{
    position: relative;
    height: 47px;
    line-height: 47px;
    background: #fff;
    margin: 0 13px 5px;
    position: relative;

}
.taove section div:before{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);

}
.taove section span{
    display: inline-block;
    margin: 0 13px 0 0px;
}
.taove section .icon{
    position: relative;
    font-size: 25px;
    color: #898c8d;

}
.taove section .icon em{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 48px;
    color: #ddd;
    font-size: 12px;
    font-style: normal;
    vertical-align: top;
}
.taove section .icon.red em{
    color: #fff;
}
.taove section .icon.red{
    color: #fe555a;
}
.taove section .report.icon
{
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 20px;
    font-weight: normal;
    margin-right: 0;
}

.comments{
    font-size: 12px;
    margin: 0 13px;
    color: #808080;
    line-height: 18px;
    padding-bottom: 5px;
}
.comments li{
    position: relative;
}
.comments li em{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    color: #8a8a8a;
    font-style: normal;
    font-size: 12px;
}
.comments a{
    color: #8a8a8a;
    display: inline;
    font-size: 12px;
    padding-right: 6px;
    text-decoration: none;

}

button{
    height: 25px;
    color: #a6a6a6;
    background: none;
    border: none;
    font-size: 14px;
    padding: 0%;
}