{{#extend "adminStyle"}}
    <link rel="stylesheet" href="{{static}}api/css/admin.css"/>
    <style>
        .admin {
            background: #d2d2d2;
        }
    </style>
{{/extend}}
{{#if getSucess}}
    {{err}}
{{/if}}
<div class="header">
    <input type="text" name="_id" placeholder="_id"/>
    <button>搜索</button>
    <div class="page-nav">
        <span class="btn">上一页</span>
        <span><em>1</em>/35</span>
        <span class="btn">下一页</span>
    </div>
</div>
<table class="users ">
    <tr id="postData">
        <td><input type="text" name="_id" placeholder="_id"/></td>
        <td><input type="text" name="title" placeholder="相册标题"/></td>
        <td><input type="text" name="city" placeholder="所在城市"/></td>
        <td>
            <select name="goodStyle" id="goodStyle">
                <option value="中式古典">中式古典</option>
                <option value="韩式简约">韩式简约</option>
                <option value="欧式奢华">欧式奢华</option>
                <option value="唯美自然">唯美自然</option>
                <option value="个性时尚">个性时尚</option>
            </select>
        </td>
        <td><input type="text" name="img" placeholder="图片信息"/></td>
        <td><textarea type="text" name="description" placeholder="描述"></textarea></td>
        <td rowspan="2">
            <button id="fixed">更新</button>
            <button id="delete">删除</button>
        </td>
    </tr>
    <tr>
        <td><input type="text" name="customer" placeholder="用户id"/></td>
        <td><input type="text" name="createdBy" placeholder="谁提交的"/></td>
        <td><input type="text" name="createOn" placeholder="创建时间"/></td>
        <td><input type="text" name="updated" placeholder="更新时间"/></td>
        <td><input type="text" name="package" placeholder="套餐"/></td>
        <td><input type="checkbox" name="approved"/></td>
    </tr>

</table>

{{#extend "adminScripts"}}
    <script>

    </script>
{{/extend}}