{{#extend "adminStyle"}}
    <style>
        .photographer{
            background: #d2d2d2;
        }
    </style>
{{/extend}}
<div class="header">
    <input type="text" name="_id" placeholder="用户id"/>
    <button>搜索</button>
    <div class="page-nav">
        <span class="btn">上一页</span>
        <span><em>1</em>/35</span>
        <span class="btn">下一页</span>
    </div>
</div>



