{{#extend "adminStyle"}}
    <style>
        .user {
            background: #d2d2d2;
        }
    </style>
{{/extend}}

<div class="main">
    <div class="br">
        <span>_id：</span> <input type="text"/>
    </div>
    <div class="br">
        <span>昵称：</span><input type="text"/>
    </div>
    <div class="br">
        <span>真实性名：</span>
    </div>
    <div class="br">
        <span>电话：</span>
    </div>
    <div class="br">
        <span>密码：</span>
    </div>
    <div class="br">
        <span>邮箱：</span>
    </div>
    <div class="br">
        <span>头像：</span>
    </div>
    <div class="br">
        <span>套餐意向：</span>
    </div>
    <div class="br">
        <span>城市：</span>
    </div>
    <div class="br">
        <span>摄影师资格：</span>
    </div>
    <div class="br">
        <span>摄影师状态：</span>
    </div>
    <div class="br">
        <span>角色：</span>
    </div>
    <div class="br">
        <span>证件照：</span>
    </div>
    <div class="br">
        <span>化妆师：</span>
    </div>
    <div class="br">
        <span>擅长风格：</span>
    </div>
    <div class="br">
        <span>自我介绍：</span>
    </div>
    <div class="br">
        <span>从事时间：</span>
    </div>
    <div class="br">
        <span>相册：</span>
    </div>
    <div class="br">
        <span>：</span>
    </div>
    <div class="br">
        <span>账单：</span>
    </div>
    <div class="br">
        <span>收藏喜欢：</span>
    </div>
    <div class="br">
        <span>最后登陆：</span>
    </div>
    <div class="br">
        <span>更新时间：</span>
    </div>
    <div class="br">
        <span>创建时间：</span>
    </div>


</div>
{{#extend "adminScripts"}}
    <script src="../js/js-users.js"></script>
    <script>

    </script>
{{/extend}}