.leftMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border-right: 1px solid #dedede;
    bottom: 0;
    background: #f9f9f9;
}
.leftMenu a{
    display: block;
    border-bottom: 1px solid #dedede;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
    color: #6e6e6e;

}
.leftMenu a:hover
{
    text-decoration:none;
    color: #000;

}

.main{
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 15px;
    overflow: scroll;
}

input[type=text]{
    display: inline-block;
    height: 30px;
    width: 100px;
    padding: 0 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dedede;
}
h1{
    padding-bottom: 10px;
}
.search{
    border-bottom: 3px solid #dedede;
   padding-bottom: 8px;

}
.search input{
    display: inline-block;
}
.search input[type=submit]{
    margin-left: 10px;
    width: auto;
    padding: 0 10px;
}

table{
    margin-top: 10px;
}
table tbody td{
    padding: 5px 5px;
    border-bottom:1px  solid #dedede;
    vertical-align: middle;
}
input[type=radio]{
    position: relative;
    top: 3px;
    margin-right: 8px;
}
select{
    margin-right: 8px;
}

input[type=submit],

input[type=button]{
    display: inline-block;
    height: 30px;
    background: #dedede;
    border:1px solid #d4d4d4;
    padding: 0 10px;
    margin-top: 0;
    cursor: pointer;
    margin-right: 10px;

}

input[type=submit]:hover,

input[type=button]:hover{
    background: #777777;
    color: #fff;
}