.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	position:relative;
}


#topList_box ol{
	pointer-events:none;
}

.navList_boxdp{
	height:70px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	background:rgba(10,10,10,0.5);
	z-index:2000;
	max-width:640px;
	margin:auto;
	margin-top:-100%;
	padding:5px 0;
}
#navList_box,.mainul{
	position: relative;
}
.mainul li,#navList_box li{
	display: block;
	position: relative;
	float: left;
}
#navList_box li>a{
	width:25%;
	float:left;
	text-align:center;
	color:#fff;
	overflow:hidden;
}
#navList_box li>a img{
	width:45px;
	height:45px;
	max-height:80%;
	margin:5px 0;
}



