*{
    margin: 0;
    padding:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
}
html{
    overflow: hidden;
    height: 100%;
}
body{
    background-color: #f5f5f5;
    background: #f3f3f3;
    height: 100%;
    overflow: hidden;
}
.outer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction:column;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    -webkit-flex-direction:column;
    flex-direction:column;
}
.header{
    position: relative;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    padding: 1em;
}
.header h1{
    text-align: center;
    font-weight: normal;
}
.header .btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 4em;
    height: 100%;
    text-align: center;
    color: #06c;
    background-color: #ccc;
}
.header .btn:active{
    background-color: #aaa;
    color: #fff;
}
.inner{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    flex-direction: column;
    -webkit-flex-direction: column;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin:0px auto;
}
.inner .item{
 /*   display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align:center;
    -webkit-box-align:center;
    box-align:center;
    -webkit-align-items:center;
    align-items:center;*/
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.inner .item h3{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    line-height: 20px;
    margin: 0 10px;
}
.inner .item .date{
    display: block;
    height: 20px;
    line-height: 20px;
    color: #999;
}
.opacity{
    -webkit-animation: opacity 0.5s linear;
    animation: opacity 0.5s linear;
}

.lists{
    width: 540px;
    margin: 0 auto;
}
.item {
    border: 1px solid #d5d5d5;
    margin: 1.5em 0px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    position: relative;
    flex-grow:0;
    background: #fff;
}

.item .box {
    position: relative;
    overflow: hidden;
    display: block;
    background: #eeeeee;
}
.item .box img{
    width: 100%;
    height: 100%;
    display: block;
}
.item .box .btn {
    position: absolute;
    bottom: -46px;
    left: 0;
    width: 100%;
    height: 46px;
    z-index: 2;
    color: #fff;
    -webkit-transition: bottom .3s;
    transition: bottom .3s;
    cursor: default;
    line-height: 46px;
    color: #fff;
}
.item .box:hover .btn{
    bottom: 0;
}
.item .box .btn i {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 1;
}

.item .box .btn em {
    z-index: 10;
    position: relative;
    text-align: center;
    display: block;
    cursor: pointer;
}
.item .br {
    overflow: hidden;
    position: relative;
    color: #949494;
    padding: 0.2rem 0;
    margin: 0 0.2rem;
}
.item .br p {
    color: #000;
    overflow: hidden;
}


.userinfo{
    height: 1rem;

}
.userinfo a{
    position: relative;
    text-decoration: none;
    height: 1rem;
    line-height:1rem;
    color:#222726;
    padding-left: 1.1rem;
}
.userinfo img{
    width: 1rem;
    height: 1rem;
    background: #e4e4e4;
    -webkit-border-radius:1rem;
    -moz-border-radius: 1rem;
    border-radius:1rem;
    overflow: hidden;
    position: absolute;
    left: 0;
    border: 1px solid rgba(90,90,90,0.3);
}
.userinfo span{
    position: absolute;
    right: 0rem;
    line-height: 1rem;
    color: #686868;
}
.item .imginfo{
    padding: 0.45rem 0;
}

.item .imginfo em {
    position: absolute;
    right: 0px;
    color: #949494;
    top: 0;
    padding:0.45rem 0;
}
@-webkit-keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes opacity {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}