
.top{
    height: 78px;
    background: #fe555a;
    color: #fff;
}
.logo{
    position: absolute;
    display: block;
    width: 315px;
    height: 66px;
    left: 0;
    top: 6px;
}
.nav{
    position: absolute;
    right: 0;
    top: 0;
}
.nav a{
    display: block;
    height: 78px;
    padding: 0 25px;
    font-size: 16px;
    float: left;
    color: #fff;
    line-height: 78px;
}
.nav a:hover{
    background: #ff7478;
}
.nav a{
    transition: 800ms;
}
.nav a.current,
.nav a.current:hover,
.nav a.current:active{
    background: #ff7478;
}

.content{
    height: 798px;
    overflow: hidden;
    background: url("../img/big_bg.png") top center no-repeat;
}
.content .section{
    height: 100%;
}
.i_title{
    position: absolute;
    left: 23px;
    top: 74px;
}
.i_iphone{
    position: absolute;
    left: 0;
    bottom:0px;
}
.box-a{
    position: absolute;
    left: 340px;
    top: 646px;
    padding-left: 155px;
}
.box-a span{
    position: absolute;
    left: 0;
    top:0;
    display: block;
    height: 142px;
    width: 142px;
    background: url("../img/code_ma.png") no-repeat left top;
}

.box-a a{
    display: block;
    width: 173px;
    height: 64px;
    background: url("../img/code_ma.png") no-repeat -153px -3px;
}
.box-a a.android_btn{
    background-position: -153px -79px;
    margin-top: 15px;

}

.footer{
    height: 312px;
    background: #707070;
    color: #fff;
}

.col{
    float: left;
    margin-right: 20px;
}
.col h4{
    color: #fff;
    border-bottom: 1px solid #838383;
    padding-bottom: 15px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: normal;
    padding-left: 5px;
}
.col  p{
    font-size: 14px;
    line-height: 22px;
    padding-top: 15px;
    padding-left: 5px;
}

.footer .foot{
    clear: both;
    text-align: center;
    border-top: 1px solid #838383;
    margin-top: 15px;
    padding-top: 15px;

}
.share{
    position: absolute;
    right: 0;
    top: 20px;
    width: 200px;
    height: 28px;
    background: url("../img/share.png") no-repeat;
}
.share a{
    display: block;
    width: 40px;
    height: 28px;
    float: left;
}
.fadeInRight{
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    animate-delay: 1.5s;
}
.bounceInUp{
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;
}