@charset "utf-8";

html {
    color: #000;
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html, body {
    font-family: sans-serif
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0
}

input, select, textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

q:before, q:after {
    content: ''
}

a:hover {
    text-decoration: underline
}

ins, a {
    text-decoration: none
}

html, body {
    font-size: 12px;
    background: #f2f2f2;
    height: 100%;
}
.swiper-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    border-bottom: 60px solid #ebebeb;
    box-sizing: border-box;
}
.clearfix:after, .clearfix:before, .br:after, .br:before {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    position: relative;
    z-index: -1;
    line-height: 0
}

.clearfix:after, .br:after {
    clear: both
}

.clearfix, .br {
    *zoom: 1
}

.nav {
    height: 3.8rem;
    border-bottom: 1px solid #e1e1e3;
    background: #fff;
}

.nav span {
    display: block;
    margin: 0 auto;
    padding-left: 3rem;
    line-height: 3.8rem;
    font-size: 18px;
    text-align: left;
}

.nav{
    position: relative;
}
.nav .arrow{
    display: inline-block;
    width: 4rem;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAZBAMAAAAYgrnCAAAAMFBMVEUAAACWlpaWlpaWlpaWlpaWlpaWlpaWlpaWlpaWlpaWlpaWlpaWlpaWlpaWlpaWlpZLfBoTAAAAD3RSTlMAg3VjVYw4bF1Kl74Ho62dl3IbAAAAZklEQVQI12OAgAQIxfEBQvtDaI7/AWDa/iuYYvovAKblP4Epxv8FYHr9DzDF+98BTL//CaZO/0+AyIL1IvgM+4HyEPUTIIz1XyA0638DCEP+OwPUPgUIo/4jhGb+LwBzH1TgA8z9AORPIP4IR7UdAAAAAElFTkSuQmCC")
    no-repeat 3px center;
    background-size: 13px auto;
    position: absolute;
    top: 0rem;
    left: 0.5rem;
    bottom: 0.5rem;
}
.nav .arrow:hover,
.nav .arrow:focus{
    opacity: 0.8;
}
.nav .arrow:active{
    opacity: 0.5;
}
.nav .list{
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 14px;
    color: #ff0000;
    font-style: normal;
    padding-left: 23px;
    line-height: 2.9rem;
    font-size: 18px;
    background: url("../img/liwu.png") no-repeat left center;
;
    -webkit-background-size: 18px;
    background-size: 18px;;
}



.tz-pop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
}
.tz-pop .close{
    background: #fff;
    color: #ff6600;
}
.tz-pop .close:active,
.tz-pop .close:focus{
    background: #ff6600;
    color: #fff;
}
.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(Opacity=50)";
    filter: alpha(Opacity=50)
}

.tz-pop .content{
    position: absolute;
    background: #fff;
    z-index: 100;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    top: 20%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;

}

.tz-pop .content h3{
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #a9a9a9;
}

.tz-pop .content .br{
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
}
.tz-pop .content .br input[type=text],
.tz-pop .content .br select{
    width: 50%;
    background: #fcfcfc;
    border: 1px solid #bababa;
    height: 2rem;
    padding-left: 0.5rem;
}
.tz-pop .content .btn-box a{
    width: 35%;
}
.cjx .cjbg{
    width: 274px;
    display: block;
    margin: 29px auto 0;
}
.cjx{
    height: 393px;
    position: relative;
}
body{
    background: #fff;
}
.cjx-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.cjimg {
    position: absolute;
    width: 221px;
    height: 123px;
    left: 50%;
    top: 60px;
    margin-left: -111px;
}

.cjbtn{
    width: 181px;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 247px;
    margin-left: -90px;
    background: url('../img/cjbtn.png') no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display:block;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    color: #fff;
}
.cjbtn.dis{
    background: url('../img/disbg.png') no-repeat;
}

.jcjh{
    display: block;
    width: 110px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 15px;
    color: #ff6600;
    border: 1px solid #ff6600;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 310px auto 0;
}
.jcjl{
    font-size: 13px;
    color: #ff0000;
    text-align: center;
    margin-top: 5px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;

}

.sm{
    background: #fff;
    line-height: 23px;
    font-size: 12px;
    color: #6c6c6c;
}

.sm h2 {
    background: #f2f2f2;
    border-top: 1px solid #e5e6e7;
    border-bottom: 1px solid #e5e6e7;
    height: 42px;
}
.sm h2  span{
    width: 88px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:1px solid #dadbdd;
    background: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 12px;
    margin-left: 12px;
    font-size: 15px;
    font-weight: normal;
}
.sm .con{
    padding: 15px;
}
.sm .con em{
    color: #d84242;
    font-weight: bold;
}
.wrap{
    border-bottom: none;
}

.jlrw h3{
    position: relative;
}
.jlrw .content{
    height: 563px;
    top: 50%;
    margin-top: -281px;
}
.tz-pop h3 span{
    display: block;
    width: 27px;
    height: 27px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url("../img/xx.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 10px;
}
.jlrw .con{
    padding: 15px;
    height: 462px;
    overflow: auto;
}
.jlrw .con h4{
    padding-bottom: 12px;
}
.jlrw h4{
    font-size: 15px;
    color: #ec0000;
    font-weight: normal;
}
.tz-pop .content .br{
    background: #f2f2f2;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    border:1px solid #e9e9e9;
    font-size: 15px;
    position: relative;
}
.tz-pop .content .br a{
    display: block;
    position: absolute;
    height: 29px;
    width: 65px;
    background: #ff6600;

    color: #fff;
    text-align: center;
    line-height: 29px;
    top: 50%;
    margin-top: -15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    right: 10px;
}
.tz-pop .content .br em{
    display: inline-block;
    color: #ff6600;
}

.jcjl-pop .content{
    height: 342px;
    top: 50%;
    margin-top: -171px;
    width: 282px;
    left: 50%;
    margin-left: -141px;
}
.jcjl-pop .content .con{
    overflow: auto;
    height: 270px;
}
.jcjl-pop  table{
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.jcjl-pop  table thead td{
    background: #efefef;
    color: #4c4c4c;
    font-size: 14px;
}
.jcjl-pop  table td{
    padding: 6px 0;
    font-size: 14px;

}
.c-o{
    color: #ff6600;
}

.jplb-pop .content{
    width: 259px;
    height: 322px;
    left: 50%;
    margin-left: -149px;
    top: 50%;
    margin-top: -161px;
}

.jplb-pop .content p{
    color: #ff6600;
    font-size: 15px;
    height: 28px;
    line-height: 15px;
    margin: 0 15px;
}
.jplb-pop .content p span{
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    line-height: 20px;
    background: #ff6600;
    text-align: center;
    margin-right: 10px;
}
.jplb-pop .content .con{
    padding-top: 20px;
}
.jplb-pop button {
    width: 101px;
    height: 38px;
    background: #ff6600;
    text-align: center;
    line-height: 38px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    border: none;
    color: #fff;
    display: block;
    margin:30px auto
}

.scroll-list span{
    display: block;
    height: 124px;
    text-align: center;
    line-height: 130px;
    margin: 0 auto;
    position: relative;
    background: #fff;
    width: 100%;
}
.scroll-list span img {
    position: absolute;
    width: 191px;
    height: 81px;
    left: 50%;
    top: 21px;
    margin-left: -95px;
    display: block;

}
.swiper-container-vertical>.swiper-pagination-bullets{
    display: none;
}
.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}
