
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

input, button {
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
}


.boxdiro {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.boxdiro > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.pre{
	white-space: nowrap;
}


/**********************/
*[data-card]{
	font-size: 14px;
}
*[data-card] header{
	padding:10px 30px;
	-webkit-box-sizing:border-box;
	
}
*[data-card] .input{
	display: block;
	padding:11px 5px;
	border:1px solid #dddddd;
	border-radius:3px;
	width:100%;
	background:#f3f3f3;
	-webkit-box-sizing:border-box;
	color:#606366;
}
*[data-card] input::-webkit-input-placeholder { color:#bfbfbf; }
*[data-card] .button{
	display:block;
	height: 38px;
	line-height: 38px;
	padding:0 5px;
	background:#4dbfd0;
	color:#ffffff;
	text-align: center;
	border-radius: 1px;
	font-size: 16px;
}

*[data-card] .input.wrapInput{
	padding:3px;
	font-size:16px;
}
*[data-card] .input.wrapInput .input{
	padding: 11px 3px;
}

*[data-card] .input.wrapInput select{
	width:100%;
	background-color:#ffffff;
	border:0;
	color:#333333;
}

.list_ul_card {
	margin:10px;
	margin-top: 1px;
}

.list_ul_card *[data-card] header label{
	display: block;
	line-height:40px;
	color:#3ebacc;
	font-size: 18px;
}
.list_ul_card *[data-card] header label span{
	display:inline-block;
	width:40px;
	height:40px;
	background:url(img@mwm/nhyk/icons2.png) no-repeat center -106px;
	-webkit-background-size:50px auto;
}

.list_ul_card .forms{
	background:#ffffff;
	padding: 1px 0;
}
.list_ul_card .forms dl{
	padding:0 10px;
	margin: 10px 0px;
	-webkit-box-sizing:border-box;
}
.list_ul_card .forms hr{
	margin:10px 0;
	border:0;
	border-top:1px solid #dddddd;
}

.list_ul_card .forms dt{
	font-size: 16px;
	color: #606366;
	padding:5px 10px;
}

.list_ul_card .forms .select_box>div{
	width:33.3%;
}
.list_ul_card .forms .select_box>div select{
	width:100%;
	margin:auto;
}
.list_ul_card .forms .select_box>div:not(:last-of-type){
	padding-right:10px;
	-webkit-box-sizing:border-box;
}

.list_ul_card .forms .group_input{
	padding: 3px 2px;
}
.list_ul_card .forms .group_input .input{
	padding:5px 5px;
	border:0;
}


/****/
.dialogWindow.valid_phone{
	border-bottom:3px solid #5ac5d4;
	border-radius:1px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#5ac5d4), to(#5ac5d4)) no-repeat;
	background-size:100% 70px;
	background-color:#ffffff;
	padding-bottom: 15px;
}
.dialogWindow.valid_phone header{
	display: none;
}

.dialogWindow.valid_phone .input{
	background: none;
}
.dialogWindow.valid_phone .input.wrapInput .input{border:0;}
.dialogWindow.valid_phone tr{margin:10px 0;}
.dialogWindow.valid_phone.charge tr:first-of-type{
	background:#ffffff;
	border:0;
}

.dialogWindow.valid_phone footer .box{
	width: 200px;
	margin:auto;
}

.dialogWindow.valid_phone footer .dialogBtn{
	display:block;
	height:35px;
	line-height:35px;
	padding:0 5px;
	background:#56c6d6;
	color:#ffffff;
	text-align: center;
	border-radius: 1px;
	width:80px;
	margin:auto;
	border: 0;
	font-size: 18px;
}
.dialogWindow.valid_phone footer .box>div:nth-of-type(2) .dialogBtn{
	background:#a9a9a9;
}

/****/
.dialogWindow.valid_phone.pay, .dialogWindow.valid_phone.bd{
	background:#ffffff;
}


/*****************************************/

.dialogWindow.tip {
	border-bottom: 3px solid #5ac5d4;
	border-radius: 1px;
	padding:10px 0 15px;
	width: 260px;
}
.dialogWindow.tip header{
	display:none;
}
.dialogWindow.tip .dialogContent{
	color:#444444;
	text-align:center;
	padding:10px 0 15px;
	border-bottom:1px dashed #e2e2e2;
	margin:0px 0 20px;
	font-size:20px;
}
.dialogWindow.tip .dialogContent span{
	color:#d40000;
}
.dialogWindow.tip footer .dialogBtn {
	display: block;
	height: 35px;
	line-height: 35px;
	padding: 0 5px;
	background: #56c6d6;
	color: #ffffff;
	text-align: center;
	border-radius: 1px;
	font-size: 18px;
	width: 75px;
	margin: auto;
	border:0;
}
.dialogWindow.tip footer .box>div:nth-of-type(2) .dialogBtn {
	background: #a9a9a9;
}
