.leftMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border-right: 1px solid #dedede;
    bottom: 0;
    background: #f9f9f9;
}

.leftMenu a {
    display: block;
    border-bottom: 1px solid #dedede;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
    color: #6e6e6e;

}

.leftMenu a:hover {
    text-decoration: none;
    color: #000;

}

.main {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 51px 15px 15px;
    overflow: scroll;
}

input[type=text],
input[type=password],
select,
textarea,
{
    display: inline-block;
    height: 30px;
    width: 100px;
    padding: 0 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dedede;
}

h1 {
    padding-bottom: 10px;
}

.search {
    border-bottom: 3px solid #dedede;
    padding-bottom: 8px;

}

.search input {
    display: inline-block;
}

.search input[type=submit] {
    margin-left: 10px;
    width: auto;
    padding: 0 10px;
}

table {
    margin-top: 10px;
}

table tbody td {
    padding: 5px 5px;
    border-bottom: 1px solid #dedede;
    vertical-align: middle;
}

input[type=radio] {
    position: relative;
    top: 3px;
    margin-right: 8px;
}

select {
    margin-right: 8px;
}

input[type=submit],
input[type=button] {
    display: inline-block;
    height: 30px;
    background: #dedede;
    border: 1px solid #d4d4d4;
    padding: 0 10px;
    margin-top: 0;
    cursor: pointer;
    margin-right: 10px;

}

input[type=submit]:hover,
input[type=button]:hover {
    background: #777777;
    color: #fff;
}

.imgList li {
    padding: 3px 0;
}

.imgList li img {
    height: 30px;
    float: left;
}

.imgList li input {
    float: right;
    margin-left: 8px;
}

.imgList li .add_img {
    display: block;
    margin: 0 auto;
    clear: both;
    float: none;
    width: 90%;
    float: left;
}

.users {
    width: 98%;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background: #fff;
}

.users td {
    height: 27px;
    padding: 4px 5px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}
.users td textarea{
    width: 128px;
}
.users td span {
    text-align: left;
    color: #717171;
    vertical-align: top;
}
.users td a{
    color: #ff6600;
}
.users td a:hover{
    color: #e13524;
}
.users td{
    position: relative;
}

.users td img{
    width: 40px;
    height: 40px;
}

/*.users td button{
    display: block;

    margin-bottom: 10px;
}*/

#delete{
    color: #ff0000;
    position: absolute;
    bottom: 5px;
}

.users td button:hover{
    background: #fff;
    cursor: pointer;
}

.header{
    position: fixed;
    z-index: 1000;
    right: 50px;
    top: 0px;
    left: 215px;
    background: #efeff4;
    padding: 15px 0 14px;
    border-bottom: 1px solid #d4d4d4;
}
.header label{
    vertical-align: middle;
    color:#717171;
    margin-right: 10px;

}
.header label input{
    vertical-align: middle;
    margin-right: 0;
    position: relative;
    height: 15px;
    top: -3px;

}
.header input{
    display: inline-block;
    height: 30px;
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 0 10px;
    margin-top: 0;
    cursor: pointer;
    margin-right: 12px;
}

.header button{
    display: inline-block;
    width: 60px;
    height: 30px;
}
.page-nav{
    position: absolute;
    right: 0;
    top: 15px;
    text-align: right;

}
.page-nav span{
    display: inline-block;
    
    margin-left: 10px;
    height: 30px;
    padding: 0 5px;
    text-align: center;
    line-height: 30px;

}
.page-nav span em{
    color: #ff6600;
}
.page-nav .btn{
    cursor: pointer;
}
.page-nav .btn:hover{
    color: #ff6600;
}
.users .imglist img{
    display: inline-block;
    width: 45px;
    height: 45px;
    position: static;
}
.users .imglist-1 .imglist-item{
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    margin: 4px
;
}
/*.users .btn{
    display: block;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background: #989898;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.users .btn:hover{
    background: #656565;
}*/
.users label input {
    vertical-align: middle;
    margin-right: 0;
    position: relative;
    height: 15px;
    top: -3px;
}
.add-item{
    margin: 4px;
    border-radius: 4px;

    color: #fff;
    vertical-align: top;
    width: 80px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.add-item .add-item-txt{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #868686;
    z-index: 1;
    width: 80px;
    height: 60px;
    background: #f7f7f7;
    cursor: pointer;
    text-align: center;
}
#addCollection,
.photoFrames-update-btn,
.photoFrames-delete-btn{
    display: inline-block;
    width: 50px;
    text-align: center;
    line-height: 30px;
    line-height: 30px;
    color: #868686;
    background: #f7f7f7;
    border: 1px solid #d5d5d5;
    cursor: pointer;

}
.photoFrames-delete-btn{
    margin-top: 5px;
}
.add-item .add-item-txt:hover,
#addCollection:hover,
.photoFrames-update-btn:hover,
.photoFrames-delete-btn:hover{
    background: #b9b9b9;
    color: #fff;
}
.users .imglist-1 .imglist-item img{
    width: 60px;
    height: 60px;
}
.users .imglist-1 .imglist-item span {
    cursor: pointer;
    position: absolute;
    display: block;
    left: 0px;
    top:100%;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #212121;
    -webkit-transition: top 200ms;
    -moz-transition: top 200ms;
    -ms-transition: top 200ms;
    -o-transition: top 200ms;
    transition: top 200ms;

}
.users .imglist-1 .imglist-item:hover span{
    display: block;
    top:30px;

}

.imglist-1 .imglist-item span:hover{
    color: #ff0000;
}

.users input[type=checkbox]{
    margin-left: 20px;
    position: relative;
    top: 2px;
}



.alertmsg{
    display: none;
    width: 320px;
    height: 90px;
    position: fixed;
    left: 50%;
    top: 40%;
    z-index: 1001;
    margin:-40px 0 0 -160px;
    background: #fff;
    border: 1px solid #a0a0a0;
    -webkit-box-shadow: 0 0 0 10px #d5d5d5;
    -moz-box-shadow: 0 0 0 10px #d5d5d5;
    box-shadow: 0 0 0 10px #d5d5d5;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;

}

.alertmsg p{
    margin: 20px;
    text-align: center;
    font-size: 16px;
    color: #3dd48d;
}
.alertmsg p.err{
    color: #ff4c39;
}