{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/buyer.css">
    <style>
        .carts{
            color: #ff4f4f;
        }
    </style>
{{/extend}}

<div class="main clearfix">
{{> left}}
    <div class="content">
        <div class="cart">

            <form action="/buyer/carts/buy-goods" method="POST" autocomplete="off" id="J-form">
                <h2 class="cart-title">收货信息</h2>
                <div class="cart-address">
                    <p>
                        <input type="text" class="cart-address-nickname" placeholder="收件人 *" id="J-nickname" name="contact_person" value="">
                        <input type="text" class="cart-address-tel" maxlength="11" placeholder="手机 *" id="J-tel" name="tel" value="">
                    </p>
                    <p class="clearfix">

                        <input type="text" class="cart-address-info" placeholder="收货地址 *" id="J-address" name="address" value="">
                        <input type="text" class="cart-address-code" placeholder="邮编" name="areacode" value="" id="J-code">
                    </p>
                </div>

                <!-- 结算提示 -->
                <!-- <div class="cart-tips clearfix">
                    <div class="fl">全部商品</div>

                    <div class="fr">
                        <span class="cart-tips-price" id="J-count-price">
                        </span>
                        <span class="cart-tips-btn">
                            <button type="submit" class="ui-btn2"><span>结算</span></button>
                        </span>
                    </div>
                </div> -->

                <!-- 结算栏 -->
                <div class="cart-head clearfix mt30">
                    <div class="item item-1">商品名称</div>
                    <div class="item item-2">单价</div>
                    <div class="item item-3">数量</div>
                    <div class="item item-4">费用</div>
                    <div class="item item-5">操作</div>
                </div>

                <!-- 商品列表 -->
                <!-- 循环li -->
                <!-- data-id为订单id,删除用 -->
                <!-- data-price为单价 -->
                <ul class="cart-ul">
                    <li class="clearfix" data-id="572" data-goods_id="1" data-price="38" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="1">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=1" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/7127d6557e417b5a03cf663606917a6a.png@90w_127h.jpg" alt="8寸赫拉或韩绒水晶">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                8寸赫拉或韩绒水晶									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            38元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">38元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="573" data-goods_id="2" data-price="48" data-count="4" data-old_count="4">
                        <input type="hidden" name="goods_ids[]" value="2">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=2" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/f9765a3a684ea463151053f552598099.png@90w_127h.jpg" alt="10寸赫拉或韩绒水晶">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                10寸赫拉或韩绒水晶									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            48元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">192元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="574" data-goods_id="3" data-price="178" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="3">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=3" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/6900d2480fd96ee22988a12a3a34df61.png@90w_127h.jpg" alt="12寸清新炫彩水晶琉璃册">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                12寸清新炫彩水晶琉璃册									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 25张
                            </p>
                            <p>
                                设计排版: 12P
                            </p>
                        </div>
                        <div class="item item-2">
                            178元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">178元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="575" data-goods_id="7" data-price="138" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="7">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=7" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/71f00e7b4206e1989f5e76a51e7f3899.png@90w_127h.jpg" alt="24寸赫拉或韩绒水晶">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                24寸赫拉或韩绒水晶									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            138元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">138元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="576" data-goods_id="8" data-price="248" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="8">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=8" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/dc94049c4355cfbeecb34f38b07cd3b2.png@90w_127h.jpg" alt="36寸博洛尼高端工艺框">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                36寸博洛尼高端工艺框									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            248元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">248元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="577" data-goods_id="9" data-price="328" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="9">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=9" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/636474c728b469e61c2a395290dcaaf3.png@90w_127h.jpg" alt="40寸博洛尼高端工艺框">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                40寸博洛尼高端工艺框									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            328元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">328元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="578" data-goods_id="11" data-price="88" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="11">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=11" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/366c852380ced14be51e8a8d8a2e690e.png@90w_127h.jpg" alt="60寸婚礼巨幅专用绢丝海报">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                60寸婚礼巨幅专用绢丝海报									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            88元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">88元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="579" data-goods_id="12" data-price="128" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="12">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=12" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/b6a464727d75459ab790f481f8ef37a6.png@90w_127h.jpg" alt="80寸婚礼巨幅专用绢丝海报">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                80寸婚礼巨幅专用绢丝海报									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            128元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">128元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="580" data-goods_id="13" data-price="58" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="13">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=13" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/47de598ae2420a8128992cbcea25db28.png@90w_127h.jpg" alt="8寸巴洛克烤漆工艺摆台">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                8寸巴洛克烤漆工艺摆台									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            58元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">58元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="581" data-goods_id="14" data-price="78" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="14">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=14" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/7209e4296ce13f5168fff6c9023ff6d3.png@90w_127h.jpg" alt="10寸巴洛克烤漆工艺摆台">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                10寸巴洛克烤漆工艺摆台									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            78元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">78元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="582" data-goods_id="15" data-price="98" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="15">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=15" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/7fccea3598188f049b41536f9ee9bcbf.png@90w_127h.jpg" alt="12寸巴洛克烤漆工艺摆台">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                12寸巴洛克烤漆工艺摆台									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            98元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">98元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="583" data-goods_id="16" data-price="298" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="16">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=16" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/0ee5ec70110f8b4c26a5ea79bfc92e7b.png@90w_127h.jpg" alt="24寸巴洛克烤漆工艺挂件">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                24寸巴洛克烤漆工艺挂件									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            298元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">298元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="584" data-goods_id="17" data-price="208" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="17">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=17" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/2cf5570cd6918d7874cadeacfd9d08b7.png@90w_127h.jpg" alt="30寸博洛尼高端工艺框">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                30寸博洛尼高端工艺框									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 1张
                            </p>
                            <p>
                                设计排版: 1P
                            </p>
                        </div>
                        <div class="item item-2">
                            208元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">208元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="585" data-goods_id="18" data-price="328" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="18">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=18" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/1e0bec70d09366ec361a629f242bc68d.png@90w_127h.jpg" alt="12寸高端巴洛克烤漆册">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                12寸高端巴洛克烤漆册									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 25张
                            </p>
                            <p>
                                设计排版: 11P
                            </p>
                        </div>
                        <div class="item item-2">
                            328元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">328元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="586" data-goods_id="20" data-price="628" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="20">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=20" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201504/f175478c05ed2a0383b140c8ba040a54.png@90w_127h.jpg" alt="18寸高端巴洛克烤漆册">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                18寸高端巴洛克烤漆册									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 30张
                            </p>
                            <p>
                                设计排版: 11P
                            </p>
                        </div>
                        <div class="item item-2">
                            628元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">628元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                    <li class="clearfix" data-id="587" data-goods_id="28" data-price="1388" data-count="1" data-old_count="1">
                        <input type="hidden" name="goods_ids[]" value="28">
                        <div class="item item-1">
                            <div class="cart-ul-frame-img">
                                <a href="/photoframes/index/?id=28" target="_blank">
                                    <img src="http://image.jiapai.cn/photoframegoods/201507/abdc56e48b751fb0f249cfa6b0701642.png@90w_127h.jpg" alt="16寸维多利亚百合浮雕册">
                                </a>
                            </div>
                            <p class="cart-ul-name">
                                16寸维多利亚百合浮雕册									</p>
                            <!-- <p>
                                材质: 烤漆
                            </p> -->
                            <p>
                                入册照片: 28张
                            </p>
                            <p>
                                设计排版: 11P
                            </p>
                        </div>
                        <div class="item item-2">
                            1388元
                        </div>
                        <div class="item item-3">
                            <div class="cart-ul-count">
                                <a href="javascript:;" class="jian disabled">-</a>
                                <input type="text" name="buy_num[]" value="1" class="J-count">
                                <a href="javascript:;" class="jia">+</a>
                            </div>
                        </div>
                        <div class="item item-4">1388元</div>
                        <div class="item item-5">
                            <a class="J-del" href="#del">删除</a>
                        </div>
                    </li>
                </ul>

                <!-- <div class="pt20 cart-quan">
                    <input type="text" name="code" placeholder="输入优惠码"><a href="javascript:;" class="cart-quan-sub">使用</a>
                </div> -->

            </form>

        </div>
    </div>
</div>

{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}