<div class="left">
    <a class="orders" href="{{static}}buyer/orders">订单</a>
    <a class="carts" href="{{static}}buyer/carts">购物车</a>
    <a class="albums" href="{{static}}buyer/albums">婚纱照</a>
</div>