{{#extend "pcStyle"}}
    <link rel="stylesheet" href="{{static}}pc/css/buyer.css">
    <style>
        .orders{
            color: #ff4f4f;
        }
    </style>
{{/extend}}

<div class="main clearfix">
{{> left}}
    <div class="content">
        <p class="msg">当前没有订单</p>
    </div>
</div>

{{#extend "pcScripts"}}
    <script>

    </script>
{{/extend}}