.page{
    background: url("img/bg.png") center no-repeat;
}
.wdtz{
    margin: 0.8rem;
}
.wdtz {
    position: relative;
}
.wdtz img{
    width: 100%;
}
.wdtz .con,
.dnxb .con,
.xd .con{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.sqkj{
    width: 70px;
    position: relative;
}
.hdnum {
    width: 40%;
    height: 26px;
    width: 153px;
    background: url("img/jq.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin: 10px;
    font-size: 13px;
    text-align: center;
    line-height: 28px;
    color: #fff;
}
.sqkj span{
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.sqkj .mj{
    height: 16px;
}
.sqkj .text {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ff6600;
    color: #fff;
    text-align: center;
    line-height: 16px;
}
.sz1{
     background-image: url(img/sz1.png) ;
 }

.sz2{
    background-image: url(img/sz2.png) ;
}
.sz3{
    background-image: url(img/sz3.png) ;
}
.sz4{
    background-image: url(img/sz4.png) ;
}
.sz5{
    background-image: url(img/sz5.png) ;
}
.sz6{
    background-image: url(img/sz6.png) ;
}
.d{
    background-image: url(img/d.png);
}
.sq {
    position: absolute;
    top: 35%;
    width: 50%;
    padding-left: 42px;;
    color: #fff;
    font-style: normal;
    font-size: 13px;
    margin: 10px;
    display: inline-block;
}
em{
    font-style: normal;
}
.sq em{
    position: absolute;
    left: 0 ;
}
.sq a {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url("img/wh.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    left: 100%;
    top: -3px;
}
.wdtzbtn{
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #bc000e;
    background: #720008;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
}
.zj{
    position: absolute;
    width: 50%;
    right: 0;
    top: 40%;
    text-align: center;
}
.zj span{
    width: 16px;
    height: 16px;
    margin: 0 3px 0px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.zj .mj{
    height: 22px;
    margin-left: -2px;
}

.dnxb{
    position: relative;
}
.dnxb{
    margin: 0.8rem;
}
.dnxb .bg,
.xd .bg{
    width: 100%;
}
.dnxb .con .p{
    position: absolute;
    width: 100%;
    top: -5px;
    text-align: center;
    color: #847833;
    font-size: 13px;

}
.mjlist .d{
    position: relative;
    display: block;
    float: left;
    width: 25%;
    background: url("img/mz.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    height: 25%;
    height: 100%;

}
.mjlist .d img {
    position: absolute;
    width: 50%;
    display: block;
    top: 50%;
    left: 50%;
    margin-left:-25%;
    margin-top: -35%;
}
.mjlist .dnxb-btn.active{
    position: relative;
    z-index: 2;
    border: 2px solid #d03227;
}
.dxp .dnxb-btn.active{
    position: relative;
    z-index: 2;
    border: 2px solid #d03227;
}
.mjlist .dnxb-btn{
    float: left;
    height: 100%;
    width: 25%;
    border: 2px solid #a19b7e;
    margin-left: -2px;
    position: relative;
}
.mjlist .dnxb-btn .d{
    width: 100%;
}
.dnxb-btn .dz{
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    margin-left: 0px;
    z-index: 10;
    opacity: 1;
    padding-top: 27px;
    opacity: 0;
    text-align: center;
}
.dnxb-btn .dz em{
    color: #fff;
    background: #d19922;
    opacity: 0.8;
    display: inline-block;
    padding: 2px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 3px 5px;
}
.mjlist{
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 20px;
    right: 20px;
    padding-left: 5px;
}
.xd{
    position: relative;
    margin: 0.8rem
;
}
.xd .p{
    position: absolute;
    top: -5px;
    color: #847833;
    font-size: 13px;
    width: 94%;
    text-align: center;
    margin-left: 3%;
}
.xd .p span{
    display: inline-block;
    width: 33%;
    float: left;
    font-size: 12px;
}
.dxp {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}
.dxp .dnxb-btn{
    display: block;
    float: left;
    width: 30%;
    height: 100%;
    border: 2px solid #a6a085;
    margin-left: -2px;
    position: relative;
}
.dxp .bz{
    width: 40%;
    position: relative;
}
.dxp .bz .bzbtn{
    width: 100%
    position: relative;
}
.dxp .bztz-btn img{
    max-width: 100%;
    margin-top: 9%;
}
.xtc,.dtc{
    text-align: center;
    font-size: 12px;
    color: #847833;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 15%;
}
.dxp .bz img{
    position: absolute;
    width: 84%;
    left: 8%;
    top: 9%;
    margin-top: 0;

}
.xtc img,
.dtc img{
    height: 50%;
    display: block;
    margin: 0 auto;
}
.fd{
    position: relative;
    margin: 0rem;
    padding-top: 1px;
    position: absolute;
    bottom: 40px;
    z-index: 1000;
}
.fd .bg{
    width: 100%;
}

.dz-list{
    margin-top: 10%;
    position: absolute;
    top: 0%;
    left: 20px;
    right: 20px;
    text-align: center;
}
.dz-list .list{
    float: left;
    width: 16.6%;
    height: 30px;
    position: relative;
}
.dz{
    display: block;
    text-align: center;
    font-size: 12px;
    opacity: 0.5;

}
.dz{
    background: url("img/dz.png") no-repeat center top;
    -webkit-background-size: 40px;
    background-size: 40px;
    padding-top: 40px;
}
.pst{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.dz-list span.pst em{
    color: #fff;
    background: #d19922;
    opacity: 0.8;
    display: inline-block;
    padding: 2px;
    -webkit-border-radius: 50px;
    -moz-border-radius:  50px;
    border-radius:  50px;
    padding: 3px 7px;
}
.dz-list span em{
    color: #ffe516;
}
.list.active .dz{
    opacity: 1;
    -webkit-background-size: 50px;
    background-size: 50px;

}
.list .dz.pst{
    opacity: 1;
    -webkit-background-size: 40px;
    background-size: 40px;
    padding-top: 27px;
    opacity: 0;
}
.kj-pop {
    position: fixed;
    z-index: 1;
    top: 50%;
    margin-top: -25%;
    left: 0;
    width: 90%;
    left: 5%;
    opacity: 0;
    -webkit-transition: opacity 600ms;
    -moz-transition: opacity 600ms;
    -ms-transition: opacity 600ms;
    -o-transition: opacity 600ms;
    transition: opacity 600ms;
}
.kj-pop.active{
    opacity: 1;
    z-index: 10001;
}
.kj-pop img{
    width: 100%;
}
.kj-pop  .con{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.sz-list span{
    position: relative;
    -webkit-background-size: contain;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    z-index: 1000;
}
.sz-list span.kzj{
    background-image: url("img/kjz.gif");
}
.sz-list span.kzj em{
    display: none;
}
.sz-list span em{
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    color: #764b26;
    font-size: 17px;

}
.kj-pop .mj{
    display: inline-block;
    width: 32px;
    height: 48px;
    -webkit-background-size: contain;
    background-size: contain;
    margin-top: 15%;
}

.djs{
    position: absolute;
    top: 30%;
    width: 50%;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 13px;
}
.djs span {
    color:#ffe400;
    font-size: 25px;
    display: block;
    line-height: 30px;
}
.djs span em{
    font-size: 13px;
    color: #fff;
}

.mytz .bar{
    background: #8a000a;
    color: #fff;
}
.mytz .title{
    color: #fff;
}
.mytz .bar .button-link{
    color: #fff;
}
.mytz .content span{
    font-size: 18px;
    color: #5c462f;
}
.mytz .content em{
    color: #856e56;
    font-size: 13px;
}
.mytz .content a{
    position: relative;
    padding: 15px;
    display: block;
}
.mytz .content a div {
    position: absolute;
    right: 40px;
    top: 15px;
    font-size: 18px;
    color: #ffd200;
    text-align: right;
    line-height: 18px;
}
.mytz .content a div.wzj{
    color: #c7b5a4;
}
.mytz .content a em{
    display: block;
    line-height: 13px;
}
.mytz{
    background: #a78c71;
}
.mytz .content a:nth-child(even){
    background: #a6896b;
}

.mytz .content a {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAKlBMVEUAAABcRi9cRi9cRi9cRi9cRi9cRi9cRi9cRi9cRi9cRi9cRi9cRi9cRi9mIz5MAAAADXRSTlMA1gnMBOAW7bPBKUtmLrk5QAAAAJRJREFUKM9jAIMVCQwYgOtuEKbg2rtXFTAEl97FptQWm1JmkpQKYVN60QFDkPHuXREMQRZZbEodSVJqgE3pZQbilDJhVaqKVWksNqUcd+8GYBO8gCHYe/duAhaFZVgUXsdQyIlN4VxKFDKDFWJGMjaFQThSA2GFLLIghZgxIYQlIi5iKFyOLSHsxZYOuIEKMcFJVC4AwptTItsZ5uQAAAAASUVORK5CYII=);
    background-size: 0.7rem;
    background-repeat: no-repeat;
    background-position: 97% center;
    background-position: -webkit-calc(100% - .5rem) center;
    background-position: calc(100% - .5rem) center;
}

.wdtz_detail .content a{
    background-image: none;
}
.wdtz_detail .content a i{
    font-style: normal;
    color: #9d601f;
}
.wdtz_detail .content a div{
    top: 20px;
}
.wdtz_detail .info{
    background: #624222;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color: #d8ae85;
}
.wdtz_detail .info p{
    margin: 0;
    padding-bottom: 10px;
}
.wdtz_detail .info span{
    display: inline-block;
    width: 23px;
    height: 23px;

    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.wdtz_detail .info  .mj{
    height: 34px;
    position: relative;
    top: 5px;
}
.rule h2{
    color: #684000;
    font-size: 17px;
    margin: 10px 10px 0;
}
.rule p {
    position: relative;
    font-size: 13px;
    color: #6c6c6c;
    margin: 0 10px;
    line-height: 28px;
}
.rule .button-link{
    color: #9a9a9a;
}
.zst table{
    width: 100%;
    font-size: 13px;
    color: #5c462f;
}
.zst table thead td{
    background: #907355;
}
.zst table td{
    padding: 5px 0;
    text-align: center;
}
.zst table .sz{
    width: 16px;
    height: 17px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.zst table .mj{
    display: inline-block;
    width: 12px;
    height: 19px;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.zst .datext{
    color: #3a566c;
}
.zst .datext span,
.zst .xiatext span,
.zst .bztext span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #3a566c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.zst .xiatext span {
    background: #663632;
}
.zst .bztext span {
    background: #bc0e00;
}
.zst .bztext{
    color: #bc0e00;
}
.zst table tbody tr:nth-child(odd) td{
    background: #a6896b;
}


.index .bar-nav a {
    display: inline-block;
    width: 33.3%;
    float: left;
    height: 100%;

    line-height: 2.5rem;
    text-align: center;
    color: #747474;
}
.index .bar-nav a.active{
    border-bottom: 2px solid #ff6600;
}
