{{#extend "mStyle"}}
    <link href="/mobile/css/swiper.min.css" rel="stylesheet">
    <link href="/mobile/css/message.css" rel="stylesheet">
{{/extend}}
<div class="wrap flex-v">
    <!--<div class="header">动态</div>-->
    <div class="tab flex-h">
        <span class="current ">正在关注</span>
        <span>你</span>
    </div>
    <div class="swiper-container flex-v">
        <div class="swiper-wrapper">
            <div class="swiper-slide">

                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-slide">

                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="tx" src="" alt="">

                    <div class="item-content">
                        <div class="text">
                            <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                        </div>
                        <div class="imgbox clearfix">
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                            <a href=""><img src="" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Add Scroll Bar -->
        <div class="swiper-scrollbar"></div>

    </div>
    <div class="swiper-pagination flex-h"></div>
    <!-- Swiper JS -->



</div>
</div>
{{#extend "mScripts"}}
    <script src="/mobile/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            scrollbar: '.swiper-scrollbar',
            slidesPerView: 'auto',
            mousewheelControl: true,
            onSlideNextStart: function (swiper) {
                $('.tab').find('span').eq(swiper.activeIndex).addClass('current').siblings().removeClass('current');
            },
            onSlidePrevStart: function (swiper) {
                $('.tab').find('span').eq(swiper.activeIndex).addClass('current').siblings().removeClass('current');
            },
            pagination: '.swiper-pagination',
            paginationClickable: true/*,
            paginationBulletRender: function (index, className) {
                return '<span class="' + className + '">' + (index + 1) + '</span>';
            }*/

        });
    </script>
{{/extend}}