{{#extend "mStyle"}}
    <link href="/mobile/css/swiper.min.css" rel="stylesheet">
    <link href="/mobile/css/message.css" rel="stylesheet">
{{/extend}}
<div class="wrap flex-v">
    <div class="tab flex-h">
        <span class="current ">正在关注</span>
        <span>你</span>
    </div>
    <div class="swiper-container flex-v swiper-containerH">
        <div class="swiper-wrapper swiper-wrapperH">
            <div class="swiper-slide flex-v">
                <div class="swiper-container swiper-containerV">
                    <div class="swiper-wrapper">
                        <div class="pull">下拉刷新</div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="push">上拉加载</div>
                    </div>

                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="swiper-slide flex-v">
                <div class="swiper-container swiper-containerV">
                    <div class="swiper-wrapper">
                        <div class="pull">下拉刷新</div>
                        <div class="swiper-slide">

                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="tx" src="" alt="">

                                <div class="item-content">
                                    <div class="text">
                                        <a href="">三个有的朋友</a>赞了5张图片. <em>48秒</em>
                                    </div>
                                    <div class="imgbox clearfix">
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="push">上拉加载</div>
                    </div>
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
        <!-- Add Scroll Bar -->
        <div class="swiper-scrollbar swiper-scrollbarH"></div>

    </div>
    <div class="swiper-pagination flex-h"></div>
    <!-- Swiper JS -->

</div>
{{#extend "mScripts"}}
    <script src="/mobile/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-containerH', {
            scrollbar: '.swiper-scrollbar',
            slidesPerView: 'auto',
            mousewheelControl: true,
            onSlideNextStart: function (swiper) {
                $('.tab').find('span').eq(swiper.activeIndex).addClass('current').siblings().removeClass('current');
            },
            onSlidePrevStart: function (swiper) {
                $('.tab').find('span').eq(swiper.activeIndex).addClass('current').siblings().removeClass('current');
            },
            pagination: '.swiper-pagination',
            paginationClickable: true/*,
         paginationBulletRender: function (index, className) {
         return '<span class="' + className + '">' + (index + 1) + '</span>';
         }*/

        });

        var moveing = false;
        var stand = 40 * window.devicePixelRatio;
        new Swiper('.swiper-containerV', {
            scrollbar: '.swiper-scrollbar',
            direction: 'vertical',
            slidesPerView: 'auto',
            mousewheelControl: true,
            freeMode: true,
            onTouchMove: function () {
                moveing = true;
            },
            onTouchEnd: function (swiper, event) {
                moveing = false;
                var pulldistance = swiper.getWrapperTranslate();//滚动条高度
                var height = swiper.container[0].clientHeight;//可见区域高度
                var swiperWrapper = swiper.wrapper[0].scrollHeight;//总高度

                if (pulldistance < stand && pulldistance > -stand) {
                    $('.pull').html('下拉刷新');
                    $('.push').html('上拉加载');
                }
                if (pulldistance > stand) {
                    //刷新位置
                    $('.pull').addClass('refresh');
                    $('.pull').html('加载中...');
                    // location.href = '';
                    window.setTimeout(function(){
                        $('.pull').removeClass('refresh');
                    },3000)
                }
                if (pulldistance < 0 && Math.abs(pulldistance) + height - swiperWrapper > stand) {
                    $('.push').html('正在加载中。。。');
                    //加载位置

                    /*$.ajax({
                     type: "get",
                     datatype: 'json',
                     async: false, //同步
                     url: "/Freeca/ajaxFreecaRecord?&PageNumber=" + PageNumber,
                     success: function (data) {
                     $('.push').html('上拉加载');
                     PageNumber++;
                     $(".btops1").append(data.html);
                     swiper.update();
                     console.log('ccc');
                     if (data.state == "complete") {
                     $('.push').html('全部加载完');
                     }

                     }
                     });*/
                }
            },
            onProgress: function (swiper, progress) {
                if (moveing) {
                    var pulldistance = swiper.getWrapperTranslate();//滚动条高度
                    var height = swiper.container[0].clientHeight;//可见区域高度
                    var swiperWrapper = swiper.wrapper[0].scrollHeight;//总高度


                    $('.push').html('上拉加载。');
                    $('.pull').html('下拉即可刷新');

                    if (pulldistance >= stand) {
                        $('.pull').html('释放即可刷新');
                    }
                    if (pulldistance < 0 && Math.abs(pulldistance) + height - swiperWrapper > stand) {
                        $('.push').html('松开加载');
                    }
                }

            }
        });
    </script>
{{/extend}}