{{#extend "mStyle"}}
   <link href="/mobile/css/my.css?v=0.222" rel="stylesheet">
{{/extend}}
<div class="wrap flex-v">
    <div class="header">个人信息<span class="setting-btn">设置</span></div>
    <div class="info"><img src="" alt="">

        <h2>子一</h2></div>
    <div class="flex-h link"><a>照片</a><a>粉丝</a><a>关注</a></div>
    <div class="saicai clearfix">
        <span class="sangkai"></span>
        <span class="liu"></span>
        <span class="mylike"></span>
    </div>
    <div class="show-sort clearfix"> <!--shan-->
        <a href="" style=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>

</div>
<div class="setting">
    <div class="header"><em class="back"></em>设置</div>
    <div class="content">
        <div class="box">
            <a class="br btn">意见反馈 <span></span></a>
            <a class="br btn">用户协议<span></span></a>
            <a class="br btn">去评分<span></span></a>
            <a class="br btn">关于<span></span></a>
        </div>
        <div class="box">
            <a class="br btn"> 分享给微信朋友<span></span></a>
            <a class="br btn"> 达人申请<span></span></a>
            <a class="br btn"> 黑名单<span></span></a>
        </div>
        <div class="box">
            <a class="br btn"> 允许他人保存图片<span></span></a>
        </div>
        <div class="box">
            <a class="br btn"> 推送消息<span></span></a>
        </div>
        <div class="box">
            <a class="br btn clearcatch"> 清理缓存<em>2.9MB</em></a>
        </div>
        <div class="box">
            <div class="br btn tc"> 退出当前账号</div>
        </div>
    </div>
</div>



{{#extend "mScripts"}}
    <script>
        $('.tc').on('tap', function () {
            store.clear();
            $.post('{{static}}m/loginOut', function (data) {
                if (data.ok) {
                    $('.setting').toggleClass('show');
                    var topW=plus.webview.currentWebview().parent();
                    topW.evalJS('$(".home").trigger("tap")');
                }
            });
        })
    </script>


    <script>
        $('.btn').on('touchstart', function () {
            $(this).addClass('hover');
        })
        $('.btn').on('touchend', function () {
            $(this).removeClass('hover');
        })

        $('.setting-btn').on('tap', function () {
            $('.setting').addClass('show');
        })
        $('.back ').on('tap', function () {
            $('.setting').toggleClass('show');
        })
    </script>
{{/extend}}