{{#extend "mStyle"}}
    <style>
        body {
            font-size: 0.3rem;
        }

        .tc {
            font-size: 1rem;
        }
    </style>
{{/extend}}
<div class="wrap">
    <div class="header">{{title}} <span>设置</span></div>
    <div class="info">
        <img src="" alt=""/>
        <h2>子一</h2>
    </div>
    <div class="tab">
        <span>照片</span>
        <span>粉丝</span>
        <span>关注</span>
    </div>

    <div class="tc">退出</div>
</div>
{{#extend "mScripts"}}
    <script>
        $('.tc').on('tap', function () {
            store.clear();
            $.post('{{static}}m/loginOut', function (data) {
                if (data.ok) {
                    var topW=plus.webview.currentWebview().parent();
                    topW.evalJS('$(".home").trigger("tap")');
                }
            });
        })
    </script>
{{/extend}}